In [1]:
import pandas as pd
import numpy as np
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
#apertura Mattia in locale
df = pd.read_csv('/Users/mattiacaio/Documents/Boolean/Final Project/Youtube dataset/Global YouTube Statistics 2023.csv', encoding='latin1')
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [3]:
#apertura dataset su Colab per Mattia, Andrea e Marco
#file_path = '/content/drive/Shared with me/Final Project Boolean/Global YouTube Statistics 2023.csv'

#df = pd.read_csv(file_path, encoding='latin1')
#df.head(10)

In [4]:
#apertura dataset su Colab per Mirko
#file_path = '/content/drive/My Drive/Final Project Boolean/Global YouTube Statistics 2023.csv'

#df = pd.read_csv(file_path, encoding='latin1')
#df.head(10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    object
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 217.8+ KB

In [6]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
country_rank                               116
channel_type_rank                           33
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
Latitude                                   123
Longitude                                  123
dtype: int64

In [7]:
# Creiamo copia dataframe
df_null = df

In [8]:
# Cerchiamo le righe duplicate nel DataFrame
duplicates = df_null[df_null.duplicated()]

duplicates

Empty DataFrame
Columns: [rank, Youtuber, subscribers, video views, category, Title, uploads, Country, Abbreviation, channel_type, video_views_rank, country_rank, channel_type_rank, video_views_for_the_last_30_days, lowest_monthly_earnings, highest_monthly_earnings, lowest_yearly_earnings, highest_yearly_earnings, subscribers_for_last_30_days, created_year, created_month, created_date, Gross tertiary education enrollment (%), Population, Unemployment rate, Urban_population, Latitude, Longitude]
Index: []

[0 rows x 28 columns]

In [9]:
# Confrontiamo i valori di 'Youtuber' e 'Title', ignorando le maiuscole/minuscole
differences = df_null[df_null['Youtuber'].str.lower() != df_null['Title'].str.lower()]

# Modifichiamo il numero massimo di righe da visualizzare
pd.set_option('display.max_rows', None)

differences[['Youtuber', 'Title']]

,Youtuber,Title
1,YouTube Movies,youtubemovies
8,Like Nastya,Like Nastya Vlog
16,5-Minute Crafts,5-Minute Crafts 2.0
27,T-Series Bhakti Sagar,T- SERIES BHAKTI SAGAR
38,LooLoo Kids - Nursery Rhymes and Children's Songs,LooLoo Kids - Nursery Rhymes and Children's ï¿½
43,BillionSurpriseToys - Nursery Rhymes & Cartoons,BillionSurpriseToys - Nursery Rhymes & Cartï¿½
50,A4,aefour
51,Bad Bunny,badbunny
57,BRIGHT SIDE,brightside
61,Alan Walker,alanwalker
62,HolaSoyGerman.,holasoygerman. 2
73,Luisito Comunica,Luis Arturo Villar Sudek
77,LUCCAS NETO - LUCCAS TOON,LUCCAS NETO- LUCCAS TOON
85,shfa,ýýýýýýýýýý ýýýýýý
87,One Direction,21 Savage
104,MrBeast Gaming,MrBeastGaming
109,Total Gaming,totalgaming
112,Genevieve's Playhouse - Learning Videos for Kids,Genevieve's Playhouse - Learning Videos for ï¿½
113,T-Series Apna Punjab,T- Series Apna Punjab
114,Techno Gamerz,TechnoGamerz
131,Eros Now Music,Mzaalo
149,Luis Fonsi,luisfonsi
164,Talking Tom,TalkingTom
166,Frost Diamond,frostdiamond
180,Aditya Music India,Aditya Music
190,Sandeep Maheshwari,Sandeepmaheshwari
193,MrBeast 2,Leaux Pass
200,ToyPuddingTV,ToyPudding TV[ï¿½ï¿½ï¿½ï¿½ï
220,Marï¿½ï¿½ï¿½ï¿½ï¿½,mariliamendonca
236,Chris Brown,ChrisBrown
264,Goldmines Movies,Ti Ti
273,FaZe Rug,FaZeRug
301,BabyBus - Canciones Infantiles & Videos para N...,BabyBus - Canciones Infantiles & Videos paraï¿½
324,Disney Latinoamï¿½ï¿½,disneylatinoamerica
329,Rotana,rotana5018
338,SMOL,Claudio
361,Romeo Santos,RomeoSantos
369,Deddy Corbuzier,deddycorbuzier
377,Linkin Park,linkinpark
386,Family GamesTV,FamilyGamesTV
394,Robin Hood Gamer,Homem Aranha player
398,Marvel Entertainment,MarvelEntertainment
408,SOMOY TV,TIME NEWS
411,Official Pink Panther,OfficialPinkPanther
414,AS Gaming,ASGaming
445,Busy Fun Ltd,TG MAYANK YT
454,ýýýýýýýý ýýýýýýýýýý ýýýýýýýýýý | Arab Games Ne...,ýýýýýýýý ýýýýýýýýýý ýýýýýýýýýý | Arab Games ýýý
463,Dhar Mann,Alejandro Basalo
468,Good Mythical Morning,Goodmythicalmorning
479,And TV,ANDtv
502,News 24,24 ï¿½ï¿½ï¿½ï
508,The Game Theorists,TheGameTheorists
526,Jason Vlogs,Jason Oo
534,Gaby and Alex,gabyandalex
543,DeToxoMoroxo,de toxomoroxo
572,Matt Stonie,MattStonie
588,XO TEAM,XO TEAM Family
589,AdMe,Aday Cï¿½ï¿½ï¿½ï¿½ï
590,ExtraPolinesios,Extra polinesios
597,FitDance,Fitdance Academy
600,La Rosa de Guadalupe,larosadeguadalupe
602,wifistudy,wifistudy by Unacademy
604,Enes Batur,enesbatur
606,ýýýýýýýýýý,Kung Fu Padla
634,Mr DegrEE,MrDegree
663,Musas,Jordi Sala
668,Hongyu ASMR ï¿½ï¿½,Hongyu ASMR ï¿½ï¿½ï
678,Little Angel - Mï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½,Little Angel - Mï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½
684,Republic Bharat,Gyani Beast
687,BigSchool,Big School
702,Bayashi TV,ýýýýýýýýýýýýýýýýýýBAYASHITV
710,Major Lazer Official,MajorLazerOfficial
716,Canal Nostalgia,Canal Nostalgia TV
729,PrestonPlayz,Preston
735,LEGENDA FUNK,LegendaFUNK
743,Boram Tube ToysReview [ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿,Boram Tube ToysReview [ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï
756,ýýýýýýýýýýýý ýýýýýýýýýýýý I ýýýýýý ýý ýýýýýýýýýý,ýýýýýýýýýýýý ýýýýýýýýýýýý I ýýýýýý ýý ýýýýýýýýý
759,Coke Studio,Rohail Hyatt
762,Harry Styles,harrystyles
769,Rebecca Zamolo,RebeccaZamolo
772,SIS vs BRO,SiS
777,Crazy Frog,CrazyFrog
778,The Dodo,Dorukhan Gï¿½ï¿½ï
785,Trap City,TrapCity
790,F2Freestylers - Ultimate Soccer Skills Channel,F2Freestylers - Ultimate Soccer Skills Channï¿½
800,Zee Telugu,zeetelugu
808,Jamuna TV,jamuna tv24
859,The Q,Tom Duggan
863,Stray Kids,straykids
877,Ei Nerd,Einerd
893,Peppa Pig em Portuguï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿,Peppa Pig em Portuguï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½
899,DJ Khaled,DjKhaled
904,Jomy Production,SRK Edie soon
923,Melon City Show - ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï...,Melon City Show - ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿
935,Jass Records,JassRecords
936,Future,Future AMV's
939,#Refï¿½ï¿½ï¿½ï¿½,#Refugio Mental
951,Ja Mill,jamill
969,Quantum Tech HD,Mr_Mughall Gaming
973,LOUD,WatchLOUD
975,Gustavo Parï¿½ï¿½,GustavoParodias
983,MoniLina,MoniLinaFamily
986,ANNA KOVA,annakova
992,Panda,HybridPanda

In [10]:
# Eliminiamo il campo youtuber perché sovrapponibile a Title - stiamo considerando i canali, non come si chiamano gli Youtuber su Youtube
df_null.drop('Youtuber', axis=1, inplace=True)

In [11]:
df_null.head(5)

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [12]:
#algoritmo di ricerca dei caratteri speciali
import re

# Regex per rilevare simboli problematici, incluso ï, ý, e caratteri non alfanumerici
special_char_pattern = re.compile(r"[^\w\s\-&'@.,#!?:/()]")

# Funzione per cercare caratteri speciali
def find_special_characters(df_null, columns):
    special_characters = {}
    for column in columns:
        special_characters[column] = []
        for i, value in enumerate(df_null[column]):
            if special_char_pattern.search(str(value)):
                special_characters[column].append((i, value))
    return special_characters

# Colonne da analizzare
columns_to_check = ["category", "Title", "Country"]

# Applicazione della funzione
results = find_special_characters(df_null, columns_to_check)

# Visualizzazione dei risultati
for column, issues in results.items():
    if issues:
        print(f"\nCaratteri speciali trovati nella colonna '{column}':\n")
        for index, value in issues:
            print(f"  Riga {index}, Valore: '{value}'")
    else:
        print(f"\nNessun carattere speciale trovato nella colonna '{column}'.\n")

Nessun carattere speciale trovato nella colonna 'category'.


Caratteri speciali trovati nella colonna 'Title':

  Riga 38, Valore: 'LooLoo Kids - Nursery Rhymes and Children's ï¿½'
  Riga 43, Valore: 'BillionSurpriseToys  - Nursery Rhymes & Cartï¿½'
  Riga 55, Valore: 'Vocï¿½ï¿½ï¿½'
  Riga 76, Valore: 'shfa2 - ï¿½ï¿½'
  Riga 91, Valore: 'Vlad vï¿½ï¿½ï'
  Riga 105, Valore: 'La Granja de Zenï¿½'
  Riga 112, Valore: 'Genevieve's Playhouse - Learning Videos for ï¿½'
  Riga 132, Valore: 'BETER Bï¿½ï¿½'
  Riga 145, Valore: 'DONA ï¿½ï¿½'
  Riga 162, Valore: 'Boram Tube Vlog [ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿'
  Riga 165, Valore: 'ýýýýýýýý ýýýýýýýý ýýýýýýýýýý | toyoraljanahtv'
  Riga 200, Valore: 'ToyPudding TV[ï¿½ï¿½ï¿½ï¿½ï'
  Riga 215, Valore: 'Junya.ï¿½ï¿½ï¿½ï¿½'
  Riga 219, Valore: 'Beyoncï¿'
  Riga 250, Valore: '1theK (ï¿½ï¿½ï¿½ï¿½ï'
  Riga 254, Valore: 'MrBeast en Espaï¿½ï'
  Riga 259, Valore: 'netd mï¿½ï¿'
  Riga 280, Valore: 'Peppa Pig Espaï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 301, Valore: 'BabyBus - Canciones Infantiles & Videos paraï¿½'
  Riga 320, Valore: 'Sagawa /ï¿½ï¿½ï¿½'
  Riga 363, Valore: 'Kurzgesagt ï¿½ï¿½ï¿½ï¿½ï¿½ï¿'
  Riga 375, Valore: 'Totoy kids - Portuguï¿½'
  Riga 436, Valore: 'Turma da Mï¿½ï¿½'
  Riga 441, Valore: 'Little Angel Espaï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 454, Valore: 'ýýýýýýýý ýýýýýýýýýý ýýýýýýýýýý | Arab Games ýýý'
  Riga 462, Valore: 'RsiamMusic : ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 470, Valore: 'INCRï¿½ï¿'
  Riga 480, Valore: 'Sebastiï¿½ï¿½ï¿½'
  Riga 496, Valore: 'Jane ASMR ï¿½ï¿½'
  Riga 502, Valore: '24 ï¿½ï¿½ï¿½ï'
  Riga 516, Valore: 'AMARINTV : ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 547, Valore: 'Gato Galactico | GALï¿½ï¿'
  Riga 550, Valore: 'With Kids[ï¿½ï¿½ï¿½ï¿½ï'
  Riga 571, Valore: 'GMMTV OFFICIALï¿½ï¿½'
  Riga 589, Valore: 'Aday Cï¿½ï¿½ï¿½ï¿½ï'
  Riga 605, Valore: 'Totoy kids - Espaï¿½ï'
  Riga 624, Valore: 'Kuplinov ï¿½ï¿½ï¿'
  Riga 628, Valore: 'Blippi Espaï¿½ï'
  Riga 651, Valore: 'Pokï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 657, Valore: 'Oyuncak Avï¿'
  Riga 668, Valore: 'Hongyu ASMR ï¿½ï¿½ï'
  Riga 669, Valore: 'Mohamed Ramadan I ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï'
  Riga 672, Valore: 'Rubï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 678, Valore: 'Little Angel - Mï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 690, Valore: 'ISSEI / ï¿½ï¿½ï¿½ï¿½'
  Riga 691, Valore: 'Zï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï'
  Riga 697, Valore: 'iTownGamePlay *Terror&Diversiï¿½ï'
  Riga 728, Valore: 'Planeta das Gï¿½ï¿½'
  Riga 739, Valore: 'IDEIAS INCRï¿½ï¿½'
  Riga 743, Valore: 'Boram Tube ToysReview [ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï'
  Riga 749, Valore: 'Saad Lamjarred | ï¿½ï¿½ï¿½ï¿½ï¿½ï¿'
  Riga 753, Valore: 'Gyan Gamingï¿½'
  Riga 778, Valore: 'Dorukhan Gï¿½ï¿½ï'
  Riga 790, Valore: 'F2Freestylers - Ultimate Soccer Skills Channï¿½'
  Riga 796, Valore: 'Luli Pampï¿½'
  Riga 821, Valore: 'O Que Nï¿½ï¿½ï¿½ï¿½ï¿½ï¿'
  Riga 828, Valore: 'Wesley Safadï¿½'
  Riga 851, Valore: 'The World Adventures ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 854, Valore: 'ATHLEAN-Xï¿½'
  Riga 867, Valore: 'Kids Lineï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 874, Valore: 'HUBAï¿½ï¿½'
  Riga 875, Valore: 'BIBO ï¿½ï¿½ï¿½ï¿½ï¿½ï¿'
  Riga 891, Valore: 'Knowledge Tv ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 893, Valore: 'Peppa Pig em Portuguï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
  Riga 911, Valore: 'Pastor Antï¿½ï¿½ï¿½ï¿½ï'
  Riga 914, Valore: 'BIBOï¿½ï¿½ï¿½ï¿½ï'
  Riga 917, Valore: 'AlArabiya ï¿½ï¿½ï¿½ï¿½ï¿'
  Riga 923, Valore: 'Melon City Show - ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿'
  Riga 929, Valore: 'Beyoncï¿½ï¿½'
  Riga 954, Valore: 'Little Baby Bum en Espaï¿½ï'
  Riga 956, Valore: 'Mï¿½ï¿½ï¿½ï¿½'
  Riga 979, Valore: 'DaniRep | +6 Vï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï'
  Riga 990, Valore: 'Natan por Aï¿'

Nessun carattere speciale trovato nella colonna 'Country'.

In [13]:
#conteggio righe con caratteri speciali
column_counts = {"Youtuber": 0, "category": 0, "Title": 0, "Country": 0}

# Controlla per ogni riga e colonna
for column, issues in results.items():
    if column in column_counts:  # Controlla solo le colonne di interesse
        column_counts[column] += len(issues)

# Stampa il conteggio per ogni colonna
for column, count in column_counts.items():
    print(f"Colonna '{column}': {count} righe con caratteri speciali")

Colonna 'Youtuber': 0 righe con caratteri speciali
Colonna 'category': 0 righe con caratteri speciali
Colonna 'Title': 73 righe con caratteri speciali
Colonna 'Country': 0 righe con caratteri speciali

In [14]:
#drop dei risultati
# Ottieni gli indici delle righe con caratteri speciali
indices_to_drop = []
for column, issues in results.items():
    for index, value in issues:
        indices_to_drop.append(index)

#eliminazione righe
df_null.drop(indices_to_drop, inplace=True)

ANALISI DEI NaN

1) Category

In [15]:
# Conta il numero di NaN nella colonna 'category'
df_null.isnull().sum()

rank                                         0
subscribers                                  0
video views                                  0
category                                    43
Title                                        0
uploads                                      0
Country                                    116
Abbreviation                               116
channel_type                                28
video_views_rank                             1
country_rank                               110
channel_type_rank                           31
video_views_for_the_last_30_days            55
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               309
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    117
Population                                 117
Unemployment rate                          117
Urban_population                           117
Latitude                                   117
Longitude                                  117
dtype: int64

In [16]:
# Analizziamo i NaN di Category - in totale sono 43
# Ordiniamo il df per vederli

df_null = df.sort_values(by= 'category', na_position='first')
df_null.head(46)

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
5,6,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,4057944.0,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
12,13,93600000,0.000000e+00,NaN,Gaming,0,NaN,NaN,Games,4057944.0,...,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
18,19,75000000,0.000000e+00,NaN,sports,3,United States,US,Entertainment,3898122.0,...,NaN,2006.0,Jan,30.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
102,103,36300000,0.000000e+00,NaN,News,0,NaN,NaN,NaN,4057944.0,...,NaN,2013.0,Sep,9.0,NaN,NaN,NaN,NaN,NaN,NaN
155,156,30700000,1.235599e+10,NaN,Diana and Roma ESP,578,United States,US,Entertainment,313.0,...,200000.0,2016.0,Nov,27.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
161,162,30400000,1.799996e+10,NaN,ýýýýýýýýýýýýýýý ýýýýýý ýýýýýýýýýýýýýýýýýý,532,United States,US,Entertainment,147.0,...,300000.0,2018.0,Nov,3.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
173,174,29300000,0.000000e+00,NaN,Popular on Youtube,3,NaN,NaN,Education,4019724.0,...,NaN,2017.0,Aug,7.0,NaN,NaN,NaN,NaN,NaN,NaN
214,215,26200000,3.197746e+10,NaN,D Billions,775,United States,US,Entertainment,33.0,...,200000.0,2019.0,Jul,27.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
255,256,24200000,1.572416e+10,NaN,shfa show India,469,United Arab Emirates,AE,People,203.0,...,200000.0,2019.0,Apr,1.0,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
256,257,24100000,3.297749e+08,NaN,Super JoJo - Nursery Rhymes & Kids Songs,36,United States,US,Education,40117.0,...,100000.0,2019.0,May,31.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
261,262,24100000,1.104126e+10,NaN,Diana and Roma ARA,590,United States,US,Entertainment,379.0,...,200000.0,2019.0,Feb,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
312,313,22500000,1.061370e+10,NaN,Vlad and Niki Arabic,526,United States,US,Entertainment,399.0,...,100000.0,2018.0,Nov,9.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
319,320,22000000,8.594441e+09,NaN,Vlad and Niki ESP,515,United States,US,Entertainment,591.0,...,200000.0,2018.0,Oct,11.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
332,333,21700000,8.507819e+09,NaN,ZAMZAM ELECTRONICS TRADING,15126,United Arab Emirates,AE,People,608.0,...,3400000.0,2020.0,Dec,19.0,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
355,356,21000000,9.789122e+09,NaN,Vlad and Niki IDN,498,United States,US,Entertainment,464.0,...,300000.0,2018.0,Nov,9.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
360,361,20900000,0.000000e+00,NaN,Minecraft - Topic,0,NaN,NaN,Games,4057944.0,...,300000.0,2013.0,Dec,20.0,NaN,NaN,NaN,NaN,NaN,NaN
424,425,19300000,2.642281e+08,NaN,Manoj parihar,335,India,IN,Howto,48846.0,...,300000.0,2021.0,Mar,2.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
445,446,18800000,7.762077e+09,NaN,TG MAYANK YT,2,NaN,NaN,NaN,4057882.0,...,NaN,2021.0,Dec,21.0,NaN,NaN,NaN,NaN,NaN,NaN
452,453,18600000,7.008250e+09,NaN,Smile Family Spanish,457,United States,US,Entertainment,830.0,...,200000.0,2019.0,Jun,19.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
495,496,17700000,1.920670e+10,NaN,ýýýýýýýýý KIMPRO,1646,South Korea,KR,People,125.0,...,3200000.0,2017.0,Nov,11.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
553,554,16600000,1.318443e+09,NaN,Ivana Alawi,180,Philippines,PH,People,8338.0,...,100000.0,2018.0,Jun,1.0,35.5,1.081166e+08,2.15,50975903.0,12.879721,121.774017
592,593,16100000,0.000000e+00,NaN,Live,0,NaN,NaN,NaN,4057944.0,...,NaN,2015.0,Jan,13.0,NaN,NaN,NaN,NaN,NaN,NaN
593,594,16100000,7.399296e+09,NaN,Vlad and Niki ARA,510,United States,US,Entertainment,759.0,...,100000.0,2019.0,May,24.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
598,599,16100000,7.155736e+09,NaN,Panda Shorts,667,Sweden,SE,Sports,792.0,...,3000000.0,2020.0,Nov,21.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
619,620,15700000,6.153496e+09,NaN,My Family,150,Singapore,SG,People,731590.0,...,800.0,2019.0,Dec,3.0,84.8,5.703569e+06,4.11,5703569.0,1.352083,103.819836
712,713,14800000,1.578821e+10,NaN,Filaretiki,2222,United States,US,People,195.0,...,1700000.0,2021.0,Mar,24.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
738,739,14500000,1.739129e+09,NaN,Lotus Music,514,India,IN,Tech,5926.0,...,100000.0,2021.0,Jun,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
742,743,14500000,4.821183e+09,NaN,Eli Kids - Cartoons & Songs,605,United States,US,Music,1423.0,...,400000.0,2018.0,Jan,16.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
763,764,14400000,6.543282e+09,NaN,Vlad and Niki PRT,516,United States,US,Entertainment,918.0,...,NaN,2018.0,Nov,3.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
810,811,13900000,8.451755e+09,NaN,ýýýýýýýý ýý ýýýýýýýýýýýý,504,United States,US,People,600.0,...,200000.0,2018.0,Oct,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
832,833,13600000,8.968914e+08,NaN,Zeinab Harake,273,Philippines,PH,People,13437.0,...,100000.0,2017.0,Oct,19.0,35.5,1.081166e+08,2.15,50975903.0,12.879721,121.774017
849,850,13400000,4.622629e+09,NaN,Vlad y Niki Show,477,United States,US,Entertainment,1537.0,...,200000.0,2018.0,Nov,8.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
852,853,13400000,2.056338e+07,NaN,Vibhu 96,256,India,IN,Education,342460.0,...,300000.0,2022.0,Jun,5.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
879,880,13200000,4.205665e+09,NaN,Vilmei,1324,Indonesia,ID,People,1786.0,...,800000.0,2013.0,Sep,25.0,36.3,2.702039e+08,4.69,151509724.0,-0.789275,113.921327
888,889,13100000,2.733683e+09,NaN,WiederDude,289,United States,US,Games,3275.0,...,100000.0,2016.0,Jun,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
907,908,13000000,3.015478e+08,NaN,Wolfoo Channel,22,Pakistan,PK,People,4035874.0,...,8.0,2021.0,Aug,11.0,9.0,2.165653e+08,4.45,79927762.0,30.375321,69.345116
930,931,12700000,1.159290e+09,NaN,FACT FIRE KING,782,India,IN,Games,9683.0,...,500000.0,2020.0,Jul,29.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
934,935,12700000,5.567832e+09,NaN,Diana and Roma IND,534,United States,US,Entertainment,1173.0,...,100000.0,2019.0,Nov,7.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
941,942,12700000,6.001189e+09,NaN,Heidi y Zidane,600,United States,US,People,1052.0,...,NaN,2019.0,Dec,2.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
950,951,12500000,1.612540e+08,NaN,Wolfoo Family,61,United States,US,Film,81750.0,...,NaN,2019.0,Oct,21.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
957,958,12500000,4.163639e+09,NaN,Bebefinn - Nursery Rhymes & Kids Songs,322,United States,US,Entertainment,1794.0,...,500000.0,2022.0,Mar,30.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
971,972,12400000,1.971226e+09,NaN,DEV Ke Facts,218,India,IN,Education,5034.0,...,600000.0,2012.0,Sep,29.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,129005.0,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
333,334,21600000,9.597895e+09,Autos & Vehicles,DUDU e CAROL,2942,Brazil,BR,Entertainment,481.0,...,300000.0,2013.0,Mar,2.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
786,787,14100000,5.405563e+09,Autos & Vehicles,Supercar Blondie,855,United Arab Emirates,AE,Autos,1202.0,...,500000.0,2007.0,Sep,12.0,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
734,735,14600000,5.525774e+09,Comedy,Noman Official,560,India,IN,Film,1185.0,...,500000.0,2019.0,Oct,28.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [17]:
# Andiamo ad assegnare i valori che sappiamo alla giusta categoria

df_null['category'].unique()

array([nan, 'Autos & Vehicles', 'Comedy', 'Education', 'Entertainment',
       'Film & Animation', 'Gaming', 'Howto & Style', 'Movies', 'Music',
       'News & Politics', 'Nonprofits & Activism', 'People & Blogs',
       'Pets & Animals', 'Science & Technology', 'Shows', 'Sports',
       'Trailers'], dtype=object)

In [18]:
# Sostituiamo i NaN nella colonna 'category' con i valori della colonna 'channel_type' perchè sono due campi uguali (quasi)
df_null['category'] = df_null['category'].fillna(df_null['channel_type'])

# Resettiamo il limite al df
pd.reset_option('display.max_rows')

df_null

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
5,6,119000000,0.000000e+00,Music,Music,0,NaN,NaN,Music,4057944.0,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
12,13,93600000,0.000000e+00,Games,Gaming,0,NaN,NaN,Games,4057944.0,...,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
18,19,75000000,0.000000e+00,Entertainment,sports,3,United States,US,Entertainment,3898122.0,...,NaN,2006.0,Jan,30.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
102,103,36300000,0.000000e+00,NaN,News,0,NaN,NaN,NaN,4057944.0,...,NaN,2013.0,Sep,9.0,NaN,NaN,NaN,NaN,NaN,NaN
155,156,30700000,1.235599e+10,Entertainment,Diana and Roma ESP,578,United States,US,Entertainment,313.0,...,200000.0,2016.0,Nov,27.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,29,59500000,1.624155e+10,Sports,Dude Perfect,389,United States,US,Sports,182.0,...,100000.0,2009.0,Mar,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
646,647,15300000,2.656528e+09,Sports,FC Barcelona,10988,Spain,ES,Sports,3356.0,...,200000.0,2006.0,Feb,6.0,88.9,4.707678e+07,13.96,37927409.0,40.463667,-3.749220
567,568,16400000,7.135821e+09,Sports,UFC - Ultimate Fighting Championship,14662,United States,US,Sports,806.0,...,100000.0,2006.0,Mar,4.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
99,100,36600000,1.565379e+10,Trailers,Ultra Bollywood,9168,India,IN,Entertainment,205.0,...,200000.0,2009.0,Oct,21.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
70,71,41400000,1.760893e+10,Trailers,Ishtar Music,4510,India,IN,Music,155.0,...,400000.0,2005.0,Sep,22.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [19]:
# Contiamo il numero di NaN nella colonna 'category'
nan_count = df_null['category'].isna().sum()
nan_count

3

In [20]:
# Analizziamo i NaN rimanenti
df_null= df_null.sort_values(by= 'category', na_position='first')
df_null.head(3)

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
102,103,36300000,0.000000e+00,NaN,News,0,NaN,NaN,NaN,4057944.0,...,NaN,2013.0,Sep,9.0,NaN,NaN,NaN,NaN,NaN,NaN
445,446,18800000,7.762077e+09,NaN,TG MAYANK YT,2,NaN,NaN,NaN,4057882.0,...,NaN,2021.0,Dec,21.0,NaN,NaN,NaN,NaN,NaN,NaN
592,593,16100000,0.000000e+00,NaN,Live,0,NaN,NaN,NaN,4057944.0,...,NaN,2015.0,Jan,13.0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Assegniamo la categoria giusta
df_null.loc[102, 'category'] = 'News & Politics'
df_null.loc[445, 'category'] = 'News & Politics'

# Eliminiamo l'indice 592 - youtuber Live
df_null.drop(592, axis=0, inplace=True)

# Visualizziamo il DataFrame aggiornato

df_null

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
102,103,36300000,0.000000e+00,News & Politics,News,0,NaN,NaN,NaN,4057944.0,...,NaN,2013.0,Sep,9.0,NaN,NaN,NaN,NaN,NaN,NaN
445,446,18800000,7.762077e+09,News & Politics,TG MAYANK YT,2,NaN,NaN,NaN,4057882.0,...,NaN,2021.0,Dec,21.0,NaN,NaN,NaN,NaN,NaN,NaN
786,787,14100000,5.405563e+09,Autos & Vehicles,Supercar Blondie,855,United Arab Emirates,AE,Autos,1202.0,...,500000.0,2007.0,Sep,12.0,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
333,334,21600000,9.597895e+09,Autos & Vehicles,DUDU e CAROL,2942,Brazil,BR,Entertainment,481.0,...,300000.0,2013.0,Mar,2.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
216,217,26100000,1.043547e+10,Comedy,Smosh,1619,United States,US,Comedy,410.0,...,400000.0,2005.0,Nov,19.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,599,16100000,7.155736e+09,Sports,Panda Shorts,667,Sweden,SE,Sports,792.0,...,3000000.0,2020.0,Nov,21.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
423,424,19400000,5.529132e+09,Sports,FIFA,10728,Switzerland,CH,Sports,1186.0,...,100000.0,2006.0,Sep,6.0,59.6,8.574832e+06,4.58,6332428.0,46.818188,8.227512
738,739,14500000,1.739129e+09,Tech,Lotus Music,514,India,IN,Tech,5926.0,...,100000.0,2021.0,Jun,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
99,100,36600000,1.565379e+10,Trailers,Ultra Bollywood,9168,India,IN,Entertainment,205.0,...,200000.0,2009.0,Oct,21.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
70,71,41400000,1.760893e+10,Trailers,Ishtar Music,4510,India,IN,Music,155.0,...,400000.0,2005.0,Sep,22.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [22]:
#Confermiamo che category non ha più NaN
df_null.isnull().sum()

rank                                         0
subscribers                                  0
video views                                  0
category                                     0
Title                                        0
uploads                                      0
Country                                    115
Abbreviation                               115
channel_type                                27
video_views_rank                             1
country_rank                               109
channel_type_rank                           30
video_views_for_the_last_30_days            54
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               308
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    116
Population                                 116
Unemployment rate                          116
Urban_population                           116
Latitude                                   116
Longitude                                  116
dtype: int64

2) Country

In [23]:
# Sappiamo che i NaN di country sono 115 - ordiniamo il df

# Eliminiamo i limiti di righe da vedere
pd.set_option('display.max_rows', None)

df_null = df_null.sort_values(by= 'Country', na_position='first')
df_null.head(115)

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
102,103,36300000,0.000000e+00,News & Politics,News,0,NaN,NaN,NaN,4057944.0,...,NaN,2013.0,Sep,9.0,NaN,NaN,NaN,NaN,NaN,NaN
445,446,18800000,7.762077e+09,News & Politics,TG MAYANK YT,2,NaN,NaN,NaN,4057882.0,...,NaN,2021.0,Dec,21.0,NaN,NaN,NaN,NaN,NaN,NaN
178,179,29000000,1.946624e+10,Comedy,shorts break,42,NaN,NaN,NaN,3997024.0,...,151.0,2021.0,Jan,28.0,NaN,NaN,NaN,NaN,NaN,NaN
258,259,24100000,1.291616e+10,Comedy,Daniel LaBelle,287,NaN,NaN,Comedy,290.0,...,700000.0,2009.0,Mar,11.0,NaN,NaN,NaN,NaN,NaN,NaN
382,383,20300000,1.102239e+10,Education,ýýýýýýýýýýýýýýý - Genevieve's Playhouse,107,NaN,NaN,Education,380.0,...,200000.0,2018.0,Jul,22.0,NaN,NaN,NaN,NaN,NaN,NaN
985,986,12400000,3.392023e+09,Education,TKoR,0,NaN,NaN,People,4057944.0,...,NaN,2006.0,Aug,16.0,NaN,NaN,NaN,NaN,NaN,NaN
348,349,21200000,2.073073e+09,Education,KHAN GS RESEARCH CENTRE,1,NaN,NaN,People,4057930.0,...,NaN,2017.0,Jan,5.0,NaN,NaN,NaN,NaN,NaN,NaN
173,174,29300000,0.000000e+00,Education,Popular on Youtube,3,NaN,NaN,Education,4019724.0,...,NaN,2017.0,Aug,7.0,NaN,NaN,NaN,NaN,NaN,NaN
569,570,16400000,1.347839e+10,Entertainment,RCTI - LAYAR DRAMA INDONESIA,1,NaN,NaN,People,4057943.0,...,NaN,2020.0,Oct,19.0,NaN,NaN,NaN,NaN,NaN,NaN
570,571,16400000,1.443183e+10,Entertainment,Alfredo Larin,1,NaN,NaN,Entertainment,4057780.0,...,NaN,2015.0,Nov,23.0,NaN,NaN,NaN,NaN,NaN,NaN
939,940,12700000,2.709954e+09,Entertainment,#Refugio Mental,846,NaN,NaN,Entertainment,2218.0,...,NaN,2013.0,Aug,10.0,NaN,NaN,NaN,NaN,NaN,NaN
784,785,14100000,3.920221e+09,Entertainment,ýýýýýýýýýýýýýýýýýýýý ýýýýýýýýýýýýýýýýýýýý,65,NaN,NaN,NaN,3999155.0,...,132.0,2017.0,Aug,4.0,NaN,NaN,NaN,NaN,NaN,NaN
629,630,15500000,5.070971e+09,Entertainment,Super Senya,0,NaN,NaN,NaN,4057944.0,...,NaN,2017.0,Jul,27.0,NaN,NaN,NaN,NaN,NaN,NaN
304,305,22700000,1.156812e+10,Entertainment,Like Nastya PRT,654,NaN,NaN,Entertainment,344.0,...,100000.0,2019.0,Apr,9.0,NaN,NaN,NaN,NaN,NaN,NaN
783,784,14100000,3.594937e+09,Entertainment,#Refugio Mental,846,NaN,NaN,Entertainment,2218.0,...,NaN,2013.0,Aug,10.0,NaN,NaN,NaN,NaN,NaN,NaN
931,932,12700000,1.450875e+09,Entertainment,Ian Lucas,50,NaN,NaN,Entertainment,4052208.0,...,8.0,2016.0,Apr,16.0,NaN,NaN,NaN,NaN,NaN,NaN
48,49,46800000,1.939805e+10,Entertainment,badabun,1,NaN,NaN,Music,4047729.0,...,75.0,2007.0,Jul,21.0,NaN,NaN,NaN,NaN,NaN,NaN
288,289,23200000,7.966720e+09,Entertainment,Akshay Nagwadiya,595,NaN,NaN,Entertainment,660.0,...,900000.0,2017.0,Oct,25.0,NaN,NaN,NaN,NaN,NaN,NaN
75,76,40300000,4.700505e+10,Entertainment,Toys and colors,4,NaN,NaN,People,3989650.0,...,NaN,2018.0,Jun,14.0,NaN,NaN,NaN,NaN,NaN,NaN
149,150,31400000,1.517676e+10,Entertainment,luisfonsi,0,NaN,NaN,NaN,4057944.0,...,NaN,2006.0,Mar,31.0,NaN,NaN,NaN,NaN,NaN,NaN
62,63,43600000,4.831311e+09,Entertainment,holasoygerman. 2,6,NaN,NaN,People,4047806.0,...,NaN,2016.0,May,27.0,NaN,NaN,NaN,NaN,NaN,NaN
302,303,22800000,1.798835e+10,Entertainment,KL BRO Biju Rithvik,1841,NaN,NaN,Entertainment,143.0,...,3200000.0,2020.0,Jul,21.0,NaN,NaN,NaN,NaN,NaN,NaN
269,270,23800000,5.663125e+09,Entertainment,Venus Entertainment,70,NaN,NaN,Entertainment,367929.0,...,NaN,2016.0,May,17.0,NaN,NaN,NaN,NaN,NaN,NaN
252,253,24300000,2.380249e+09,Entertainment,Amit Bhadana,17,NaN,NaN,People,4054185.0,...,NaN,2009.0,Dec,31.0,NaN,NaN,NaN,NaN,NaN,NaN
548,549,16700000,1.039304e+10,Entertainment,salman Noman,3,NaN,NaN,NaN,4057674.0,...,10.0,2022.0,May,14.0,NaN,NaN,NaN,NaN,NaN,NaN
386,387,20200000,7.066711e+09,Entertainment,FamilyGamesTV,0,NaN,NaN,Games,4057944.0,...,NaN,2012.0,Dec,29.0,NaN,NaN,NaN,NaN,NaN,NaN
394,395,20100000,1.036685e+10,Entertainment,Homem Aranha player,0,NaN,NaN,Games,4057944.0,...,NaN,2013.0,Mar,16.0,NaN,NaN,NaN,NaN,NaN,NaN
534,535,17000000,8.229883e+09,Entertainment,gabyandalex,1,NaN,NaN,People,4057752.0,...,NaN,2008.0,Aug,21.0,NaN,NaN,NaN,NaN,NaN,NaN
544,545,16800000,6.518419e+09,Entertainment,Doggy Doggy Cartoons,0,NaN,NaN,NaN,4057944.0,...,NaN,2018.0,Nov,11.0,NaN,NaN,NaN,NaN,NaN,NaN
543,544,16800000,2.315962e+09,Entertainment,de toxomoroxo,1,NaN,NaN,Music,4056488.0,...,NaN,2016.0,Apr,30.0,NaN,NaN,NaN,NaN,NaN,NaN
889,890,13100000,9.110348e+09,Entertainment,Ian Boggs,1327,NaN,NaN,Entertainment,520.0,...,700000.0,2010.0,Mar,25.0,NaN,NaN,NaN,NaN,NaN,NaN
476,477,18100000,1.224983e+10,Entertainment,Ajay Sharma,0,NaN,NaN,NaN,4057944.0,...,1.0,2009.0,Oct,24.0,NaN,NaN,NaN,NaN,NaN,NaN
468,469,18300000,8.798045e+09,Entertainment,Goodmythicalmorning,0,NaN,NaN,NaN,3612215.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877,878,13200000,3.568392e+09,Entertainment,Einerd,0,NaN,NaN,Games,4057944.0,...,NaN,2007.0,Nov,19.0,NaN,NaN,NaN,NaN,NaN,NaN
366,367,20700000,5.410165e+09,Entertainment,Zach King,6,NaN,NaN,Entertainment,3997461.0,...,10.0,2013.0,Jun,5.0,NaN,NaN,NaN,NaN,NaN,NaN
228,229,25500000,2.726917e+09,Film & Animation,zhc,5,NaN,NaN,Entertainment,4042995.0,...,4.0,2006.0,Jan,24.0,NaN,NaN,NaN,NaN,NaN,NaN
483,484,18000000,8.716982e+09,Film & Animation,BeatboxJCOP,748,NaN,NaN,Entertainment,539.0,...,3400000.0,2011.0,Mar,12.0,NaN,NaN,NaN,NaN,NaN,NaN
100,101,36500000,1.896124e+10,Film & Animation,PowerKids TV,5621,NaN,NaN,Film,139.0,...,600000.0,2014.0,Aug,6.0,NaN,NaN,NaN,NaN,NaN,NaN
183,184,28300000,1.357714e+10,Film & Animation,Masha y El oso,6,NaN,NaN,NaN,4057907.0,...,NaN,2019.0,Jul,21.0,NaN,NaN,NaN,NaN,NaN,NaN
431,432,19100000,5.194942e+09,Film & Animation,Goldmines Great Indian Comedy,2948,NaN,NaN,Film,1279.0,...,200000.0,2016.0,Aug,29.0,NaN,NaN,NaN,NaN,NaN,NaN
189,190,28000000,8.603468e+09,Film & Animation,Goldmines Dishoom,3878,NaN,NaN,Film,587.0,...,400000.0,2016.0,Nov,26.0,NaN,NaN,NaN,NaN,NaN,NaN
264,265,24000000,5.652939e+09,Film & Animation,Ti Ti,3,NaN,NaN,People,4057888.0,...,NaN,2018.0,Apr,30.0,NaN,NaN,NaN,NaN,NaN,NaN
14,15,86900000,2.411823e+10,Film & Animation,goldmines,1,NaN,NaN,Music,4056562.0,...,NaN,2006.0,Aug,15.0,NaN,NaN,NaN,NaN,NaN,NaN
765,766,14400000,9.023953e+09,Film & Animation,Zig & Sharko,978,NaN,NaN,Film,534.0,...,100000.0,2015.0,May,6.0,NaN,NaN,NaN,NaN,NaN,NaN
135,136,32200000,1.661344e+10,Film & Animation,wowkidz,2,NaN,NaN,Entertainment,4053139.0,...,NaN,2006.0,Dec,16.0,NaN,NaN,NaN,NaN,NaN,NaN
360,361,20900000,0.000000e+00,Games,Minecraft - Topic,0,NaN,NaN,Games,4057944.0,...,300000.0,2013.0,Dec,20.0,NaN,NaN,NaN,NaN,NaN,NaN
12,13,93600000,0.000000e+00,Games,Gaming,0,NaN,NaN,Games,4057944.0,...,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
687,688,15000000,9.996133e+09,Gaming,Big School,68,NaN,NaN,Film,4056600.0,...,NaN,2020.0,Dec,2.0,NaN,NaN,NaN,NaN,NaN,NaN
169,170,30100000,1.624663e+10,Gaming,jacksepticeye,5114,NaN,NaN,Games,183.0,...,100000.0,2007.0,Feb,24.0,NaN,NaN,NaN,NaN,NaN,NaN
114,115,34400000,9.690500e+09,Gaming,TechnoGamerz,1,NaN,NaN,Games,4057311.0,...,3.0,2010.0,May,19.0,NaN,NaN,NaN,NaN,NaN,NaN
166,167,30100000,7.277494e+09,Gaming,frostdiamond,0,NaN,NaN,NaN,4057944.0,...,6.0,2006.0,Aug,10.0,NaN,NaN,NaN,NaN,NaN,NaN
604,605,16000000,9.786595e+09,Gaming,enesbatur,0,NaN,NaN,Games,4057944.0,...,11.0,2007.0,Mar,4.0,NaN,NaN,NaN,NaN,NaN,NaN
74,75,40400000,7.410537e+09,Gaming,elrubiusOMG,703,NaN,NaN,Entertainment,756.0,...,NaN,2011.0,Dec,20.0,NaN,NaN,NaN,NaN,NaN,NaN
109,110,35400000,5.556364e+09,Gaming,totalgaming,1,NaN,NaN,Autos,4056447.0,...,2.0,2006.0,Jul,15.0,NaN,NaN,NaN,NaN,NaN,NaN
523,524,17200000,1.457316e+10,Gaming,PopularMMOs,4685,NaN,NaN,Games,240.0,...,100000.0,2012.0,Apr,17.0,NaN,NaN,NaN,NaN,NaN,NaN
450,451,18700000,6.148303e+09,Gaming,ali-a,2,NaN,NaN,People,4053443.0,...,NaN,2016.0,Jul,7.0,NaN,NaN,NaN,NaN,NaN,NaN
104,105,36100000,6.331333e+09,Gaming,MrBeastGaming,5,NaN,NaN,Comedy,4057305.0,...,1.0,2011.0,Feb,26.0,NaN,NaN,NaN,NaN,NaN,NaN
830,831,13700000,2.135195e+09,Gaming,Desi gamers,1,NaN,NaN,Tech,4057849.0,...,NaN,2020.0,Apr,14.0,NaN,NaN,NaN,NaN,NaN,NaN
755,756,14400000,3.517633e+08,Gaming,nobru,2,NaN,NaN,People,4057274.0,...,1.0,2006.0,Feb,3.0,NaN,NaN,NaN,NaN,NaN,NaN
57,58,44500000,1.070853e+10,Howto & Style,brightside,0,NaN,NaN,NaN,4057944.0,...,1.0,2005.0,Nov,18.0,NaN,NaN,NaN,NaN,NaN,NaN
226,227,25600000,7.962726e+09,Howto & Style,Fede Vigevani,0,NaN,NaN,NaN,4057944.0,...,2.0,2019.0,Aug,1.0,NaN,NaN,NaN,NaN,NaN,NaN
925,926,12800000,6.804073e+09,Howto & Style,Troom Troom India,2385,NaN,NaN,Howto,873.0,...,NaN,2015.0,Apr,19.0,NaN,NaN,NaN,NaN,NaN,NaN
812,813,13900000,3.193226e+09,Howto & Style,Alexa Rivera,288,NaN,NaN,Entertainment,2613.0,...,300000.0,2010.0,Aug,21.0,NaN,NaN,NaN,NaN,NaN,NaN
958,959,12500000,4.384178e+09,Howto & Style,Troom Troom PT,2738,NaN,NaN,Howto,1667.0,...,NaN,2015.0,Apr,19.0,NaN,NaN,NaN,NaN,NaN,NaN
202,203,27100000,1.273244e+10,Howto & Style,Gulshan Kalra,545,NaN,NaN,Howto,296.0,...,1300000.0,2018.0,Apr,9.0,NaN,NaN,NaN,NaN,NaN,NaN
500,501,17700000,4.196061e+09,Music,Lil Pump,60,NaN,NaN,Music,1785.0,...,NaN,2015.0,Oct,15.0,NaN,NaN,NaN,NaN,NaN,NaN
220,221,26000000,1.859753e+10,Music,mariliamendonca,1,NaN,NaN,Music,4057142.0,...,3.0,2008.0,Jun,14.0,NaN,NaN,NaN,NaN,NaN,NaN
188,189,28100000,1.531890e+10,Music,drake,3,NaN,NaN,Film,4011030.0,...,1.0,2005.0,Sep,23.0,NaN,NaN,NaN,NaN,NaN,NaN
236,237,25200000,1.552057e+10,Music,ChrisBrown,0,NaN,NaN,NaN,3612215.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,181,28500000,2.585799e+10,Music,Aditya Music,0,NaN,NaN,Music,4057944.0,...,NaN,2010.0,Dec,16.0,NaN,NaN,NaN,NaN,NaN,NaN
432,433,19100000,6.339585e+09,Music,Lil Nas X,37,NaN,NaN,Music,966.0,...,NaN,2018.0,May,19.0,NaN,NaN,NaN,NaN,NaN,NaN
595,596,16100000,5.055577e+09,Music,TWICE,1123,NaN,NaN,Music,1343.0,...,100000.0,2016.0,Mar,27.0,NaN,NaN,NaN,NaN,NaN,NaN
51,52,46100000,3.068634e+10,Music,badbunny,1,NaN,NaN,Sports,4046070.0,...,NaN,2005.0,Nov,15.0,NaN,NaN,NaN,NaN,NaN,NaN
140,141,31900000,2.733024e+10,Music,SMTOWN,4158,NaN,NaN,Music,53.0,...,100000.0,2006.0,Mar,18.0,NaN,NaN,NaN,NaN,NaN,NaN
276,277,23600000,1.590182e+10,Music,NickyJamTV,392,NaN,NaN,Music,193.0,...,100000.0,2012.0,Jan,10.0,NaN,NaN,NaN,NaN,NaN,NaN
329,330,21800000,1.932935e+10,Music,rotana5018,135,NaN,NaN,Music,926975.0,...,100.0,2011.0,Oct,27.0,NaN,NaN,NaN,NaN,NaN,NaN
5,6,119000000,0.000000e+00,Music,Music,0,NaN,NaN,Music,4057944.0,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
935,936,12700000,5.958994e+09,Music,JassRecords,1,NaN,NaN,Music,4056853.0,...,NaN,2012.0,Feb,10.0,NaN,NaN,NaN,NaN,NaN,NaN
710,711,14800000,9.383431e+09,Music,MajorLazerOfficial,0,NaN,NaN,NaN,4057944.0,...,NaN,2013.0,Jun,14.0,NaN,NaN,NaN,NaN,NaN,NaN
918,919,12900000,1.150409e+10,Music,Rauw Alejandro,168,NaN,NaN,Music,348.0,...,100000.0,2014.0,Dec,11.0,NaN,NaN,NaN,NaN,NaN,NaN
750,751,14500000,9.201428e+09,Music,Hear This Music,39,NaN,NaN,Music,518.0,...,100000.0,2016.0,Feb,13.0,NaN,NaN,NaN,NaN,NaN,NaN
777,778,14200000,7.946322e+09,Music,CrazyFrog,0,NaN,NaN,Games,4057944.0,...,NaN,2005.0,Oct,2.0,NaN,NaN,NaN,NaN,NaN,NaN
113,114,34600000,2.130632e+10,Music,T- Series Apna Punjab,0,NaN,NaN,News,4057944.0,...,NaN,2020.0,Jul,9.0,NaN,NaN,NaN,NaN,NaN,NaN
122,123,33700000,1.018903e+10,Music,Desi music factory,2,NaN,NaN,Music,4057699.0,...,NaN,2018.0,Apr,10.0,NaN,NaN,NaN,NaN,NaN,NaN
103,104,36200000,2.335580e+10,Music,Ozuna,196,NaN,NaN,Music,87.0,...,100000.0,2016.0,Mar,24.0,NaN,NaN,NaN,NaN,NaN,NaN
661,662,15100000,1.576633e+09,Music,Kim Loaiza,18,NaN,NaN,Music,6655.0,...,100000.0,2019.0,Jan,18.0,NaN,NaN,NaN,NaN,NaN,NaN
77,78,39400000,2.230255e+10,People & Blogs,LUCCAS NETO- LUCCAS TOON,1,NaN,NaN,Games,4057895.0,...,NaN,2021.0,Mar,25.0,NaN,NaN,NaN,NaN,NaN,NaN
815,816,13800000,1.493776e+09,People & Blogs,JD Pantoja,16,NaN,NaN,Music,7134.0,...,100000.0,2017.0,Jun,5.0,NaN,NaN,NaN,NaN,NaN,NaN
218,219,26000000,1.410101e+10,People & Blogs,NichLmao,868,NaN,NaN,People,249.0,...,1100000.0,2018.0,Sep,25.0,NaN,NaN,NaN,NaN,NaN,NaN
463,464,18400000,1.128073e+10,People & Blogs,Alejandro Basalo,0,NaN,NaN,NaN,4057944.0,...,2.0,2007.0,Apr,25.0,NaN,NaN,NaN,NaN,NaN,NaN
590,591,16200000,4.813128e+09,People & Blogs,Extra polinesios,2,NaN,NaN,People,3945744.0,...,1.0,2015.0,Nov,21.0,NaN,NaN,NaN,NaN,NaN,NaN
545,546,16800000,7.206463e+09,People & Blogs,deepesh zo,41,NaN,NaN,People,4038822.0,...,1.0,2021.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
469,470,18200000,9.937823e+09,People & Blogs,Bobby chourasiya,442,NaN,NaN,People,452.0,...,1000000.0,2019.0,Jan,25.0,NaN,NaN,NaN,NaN,NaN,NaN
986,987,12400000,1.395959e+10,People & Blogs,annakova,1,NaN,NaN,Film,4049634.0,...,NaN,2006.0,Jun,18.0,NaN,NaN,NaN,NaN,NaN,NaN
444,445,18800000,7.634430e+09,People & Blogs,Cardi B,9,NaN,NaN,NaN,4054469.0,...,NaN,2017.0,Aug,15.0,NaN,NaN,NaN,NaN,NaN,NaN
967,968,12500000,5.379684e+09,People & Blogs,TROOM TROOM INDONESIA,8,NaN,NaN,People,4057418.0,...,NaN,2020.0,Jul,29.0,NaN,NaN,NaN,NaN,NaN,NaN
492,493,17900000,6.746269e+09,People & Blogs,zuni and family,2,NaN,NaN,People,4057766.0,...,NaN,2020.0,Jul,15.0,NaN,NaN,NaN,NaN,NaN,NaN
457,458,18500000,4.558380e+09,People & Blogs,The ACE Family,712,NaN,NaN,People,1572.0,...,NaN,2016.0,Jan,10.0,NaN,NaN,NaN,NaN,NaN,NaN
233,234,25200000,9.602247e+09,People & Blogs,LAS RATITAS,4,NaN,NaN,People,4051936.0,...,NaN,2019.0,May,31.0,NaN,NaN,NaN,NaN,NaN,NaN
805,806,13900000,7.450346e+09,People & Blogs,Dental Digest,324,NaN,NaN,People,745.0,...,300000.0,2020.0,Aug,12.0,NaN,NaN,NaN,NaN,NaN,NaN
235,236,25200000,7.968363e+09,People & Blogs,ABPLIVE,12,NaN,NaN,People,4026389.0,...,NaN,2014.0,Jul,26.0,NaN,NaN,NaN,NaN,NaN,NaN
863,864,13300000,3.364230e+09,People & Blogs,straykids,3,NaN,NaN,Comedy,4057875.0,...,1.0,2007.0,Mar,17.0,NaN,NaN,NaN,NaN,NaN,NaN
245,246,24800000,1.465553e+10,People & Blogs,mujjuu___14,872,NaN,NaN,People,234.0,...,900000.0,2020.0,May,18.0,NaN,NaN,NaN,NaN,NaN,NaN
601,602,16000000,6.543630e+09,People & Blogs,sagar kalra (Shorts),453,NaN,NaN,People,921.0,...,200000.0,2017.0,Jun,30.0,NaN,NaN,NaN,NaN,NaN,NaN
410,411,19700000,7.452668e+09,People & Blogs,Troom Troom Es,2912,NaN,NaN,Howto,747.0,...,100000.0,2016.0,Feb,5.0,NaN,NaN,NaN,NaN,NaN,NaN
518,519,17400000,1.656056e+10,People & Blogs,Koray Zeynep,2078,NaN,NaN,People,173.0,...,400000.0,2016.0,Jul,8.0,NaN,NaN,NaN,NaN,NaN,NaN
699,700,14900000,1.591332e+10,People & Blogs,ZutiGang,1363,NaN,NaN,People,192.0,...,400000.0,2021.0,Mar,5.0,NaN,NaN,NaN,NaN,NaN,NaN
972,973,12400000,1.689091e+09,People & Blogs,Hero Movies 2023,689,NaN,NaN,People,6116.0,...,NaN,2017.0,Feb,22.0,NaN,NaN,NaN,NaN,NaN,NaN
330,331,21800000,7.780934e+09,People & Blogs,NETFLIX INDIA,1,NaN,NaN,People,4052308.0,...,NaN,2017.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
331,332,21700000,9.392093e+09,People & Blogs,Sourav Joshi Vlogs,1390,NaN,NaN,People,498.0,...,400000.0,2019.0,Feb,19.0,NaN,NaN,NaN,NaN,NaN,NaN
951,952,12500000,1.302818e+09,People & Blogs,jamill,0,NaN,NaN,NaN,4048879.0,...,NaN,2006.0,Feb,22.0,NaN,NaN,NaN,NaN,NaN,NaN
338,339,21500000,2.206558e+10,People & Blogs,Claudio,6,NaN,NaN,Music,4057657.0,...,NaN,2006.0,Apr,2.0,NaN,NaN,NaN,NaN,NaN,NaN
426,427,19300000,4.508184e+09,Science & Technology,Unbox Therapy,2175,NaN,NaN,Tech,1596.0,...,1100000.0,2010.0,Dec,21.0,NaN,NaN,NaN,NaN,NaN,NaN
425,426,19300000,2.897907e+09,Science & Technology,Vsauce,462,NaN,NaN,Entertainment,3024.0,...,100000.0,2007.0,Jul,30.0,NaN,NaN,NaN,NaN,NaN,NaN
440,441,18900000,8.301731e+09,Shows,Masha e o Urso,0,NaN,NaN,NaN,4057944.0,...,2.0,2014.0,Feb,20.0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Andiamo a vedere quali sono i campi da poter usare per catalogare
df['Country'].unique()

array(['India', 'United States', nan, 'Japan', 'Russia', 'South Korea',
       'United Kingdom', 'Canada', 'Brazil', 'Argentina', 'Chile', 'Cuba',
       'El Salvador', 'Pakistan', 'Philippines', 'Thailand', 'Colombia',
       'Barbados', 'Mexico', 'Spain', 'Saudi Arabia', 'Indonesia',
       'Venezuela', 'Kuwait', 'Netherlands', 'Singapore', 'Australia',
       'Italy', 'United Arab Emirates', 'Germany', 'Jordan', 'France',
       'Sweden', 'Afghanistan', 'Ukraine', 'Latvia', 'Turkey',
       'Switzerland', 'Vietnam', 'Malaysia', 'China', 'Iraq', 'Egypt',
       'Andorra', 'Ecuador', 'Peru', 'Bangladesh', 'Finland', 'Samoa'],
      dtype=object)

In [25]:
# Creiamo una lista degli indici da riassegnare
indices_to_check = {
    'India': [178, 348, 288, 302, 264, 431, 14, 189, 135, 476, 189, 109, 114, 830, 925, 202, 122, 180, 935, 245, 235, 330, 331, 545, 469, 445, 252, 601],
    'United States': [258, 985, 382, 149, 75, 629, 304, 468, 366, 765, 386, 228, 104, 523, 687, 812, 38, 236, 500, 710, 432, 805, 338, 463, 457, 444, 986, 778, 425],
    'Argentina': [931],
    'Brazil': [877, 394, 755, 77, 440],
    'Japan': [889],
    'Indonesia': [569, 166, 492, 967],
    'El Salvador': [570],
    'Pakistan': [548, 263, 113],
    'South Korea': [200, 483, 595, 140, 863, 668],
    'Mexico': [543, 48, 183, 226, 661, 815, 590],
    'Spain': [544, 939, 783, 74, 410, 233],
    'United Kingdom': [534, 450],
    'Chile': [62],
    'Irland': [100, 169],
    'Russia': [624],
    'Turkey': [604, 518],
    'Ukraine': [958],
    'Cyprus': [57],
    'Puerto Rico': [51, 750, 918, 103, 276],
    'Saudi Arabia': [329],
    'Canada': [188, 426],
    'Germany': [777],
    'Singapore': [218],
    'Israel': [699],
    'Philippines': [951]
}

# Ciclo for per riassegnare solo gli indici esistenti
for country, indices in indices_to_check.items():
    existing_indices = [idx for idx in indices if idx in df_null.index]  # Controlla esistenza degli indici
    if existing_indices:
        df_null.loc[existing_indices, 'Country'] = country
        print(f"Riassegnati gli indici {existing_indices} a '{country}'")
    else:
        print(f"Nessun indice trovato per '{country}', nessuna riassegnazione effettuata.")

Riassegnati gli indici [178, 348, 288, 302, 264, 431, 14, 189, 135, 476, 189, 109, 114, 830, 925, 202, 122, 180, 935, 245, 235, 330, 331, 545, 469, 445, 252, 601] a 'India'
Riassegnati gli indici [258, 985, 382, 149, 75, 629, 304, 468, 366, 765, 386, 228, 104, 523, 687, 812, 236, 500, 710, 432, 805, 338, 463, 457, 444, 986, 425] a 'United States'
Riassegnati gli indici [931] a 'Argentina'
Riassegnati gli indici [877, 394, 755, 77, 440] a 'Brazil'
Riassegnati gli indici [889] a 'Japan'
Riassegnati gli indici [569, 166, 492, 967] a 'Indonesia'
Riassegnati gli indici [570] a 'El Salvador'
Riassegnati gli indici [548, 263, 113] a 'Pakistan'
Riassegnati gli indici [483, 595, 140, 863] a 'South Korea'
Riassegnati gli indici [543, 48, 183, 226, 661, 815, 590] a 'Mexico'
Riassegnati gli indici [544, 939, 783, 74, 410, 233] a 'Spain'
Riassegnati gli indici [534, 450] a 'United Kingdom'
Riassegnati gli indici [62] a 'Chile'
Riassegnati gli indici [100, 169] a 'Irland'
Nessun indice trovato per 'Russia', nessuna riassegnazione effettuata.
Riassegnati gli indici [604, 518] a 'Turkey'
Riassegnati gli indici [958] a 'Ukraine'
Riassegnati gli indici [57] a 'Cyprus'
Riassegnati gli indici [51, 750, 918, 103, 276] a 'Puerto Rico'
Riassegnati gli indici [329] a 'Saudi Arabia'
Riassegnati gli indici [188, 426] a 'Canada'
Riassegnati gli indici [777] a 'Germany'
Riassegnati gli indici [218] a 'Singapore'
Riassegnati gli indici [699] a 'Israel'
Riassegnati gli indici [951] a 'Philippines'

In [26]:
# Contiamo il numero di NaN nella colonna 'Country' (se ci sono)
nan_count = df_null['Country'].isna().sum()
nan_count

9

In [27]:
# Sono rimasti ancora dei Nan - analizziamoli
df_null = df_null.sort_values(by= 'Country', na_position='first')
df_null.head(9)

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
102,103,36300000,0.000000e+00,News & Politics,News,0,NaN,NaN,NaN,4057944.0,...,NaN,2013.0,Sep,9.0,NaN,NaN,NaN,NaN,NaN,NaN
173,174,29300000,0.000000e+00,Education,Popular on Youtube,3,NaN,NaN,Education,4019724.0,...,NaN,2017.0,Aug,7.0,NaN,NaN,NaN,NaN,NaN,NaN
784,785,14100000,3.920221e+09,Entertainment,ýýýýýýýýýýýýýýýýýýýý ýýýýýýýýýýýýýýýýýýýý,65,NaN,NaN,NaN,3999155.0,...,132.0,2017.0,Aug,4.0,NaN,NaN,NaN,NaN,NaN,NaN
269,270,23800000,5.663125e+09,Entertainment,Venus Entertainment,70,NaN,NaN,Entertainment,367929.0,...,NaN,2016.0,May,17.0,NaN,NaN,NaN,NaN,NaN,NaN
360,361,20900000,0.000000e+00,Games,Minecraft - Topic,0,NaN,NaN,Games,4057944.0,...,300000.0,2013.0,Dec,20.0,NaN,NaN,NaN,NaN,NaN,NaN
12,13,93600000,0.000000e+00,Games,Gaming,0,NaN,NaN,Games,4057944.0,...,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
220,221,26000000,1.859753e+10,Music,mariliamendonca,1,NaN,NaN,Music,4057142.0,...,3.0,2008.0,Jun,14.0,NaN,NaN,NaN,NaN,NaN,NaN
5,6,119000000,0.000000e+00,Music,Music,0,NaN,NaN,Music,4057944.0,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
972,973,12400000,1.689091e+09,People & Blogs,Hero Movies 2023,689,NaN,NaN,People,6116.0,...,NaN,2017.0,Feb,22.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Non sono rilevanti - li eliminiamo
df_null = df_null.dropna(subset=['Country'])

In [29]:
#Confermiamo che category e Country non hanno più NaN
df_null.isnull().sum()

rank                                         0
subscribers                                  0
video views                                  0
category                                     0
Title                                        0
uploads                                      0
Country                                      0
Abbreviation                               106
channel_type                                25
video_views_rank                             1
country_rank                               100
channel_type_rank                           27
video_views_for_the_last_30_days            50
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               302
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    107
Population                                 107
Unemployment rate                          107
Urban_population                           107
Latitude                                   107
Longitude                                  107
dtype: int64

3) Abbreviation

In [30]:
# Analizziamo i campi da poter usare per catalogare
df['Abbreviation'].unique()

array(['IN', 'US', nan, 'JP', 'RU', 'KR', 'GB', 'CA', 'BR', 'AR', 'CL',
       'CU', 'SV', 'PK', 'PH', 'TH', 'CO', 'BB', 'MX', 'ES', 'SA', 'ID',
       'VE', 'KW', 'NL', 'SG', 'AU', 'IT', 'AE', 'DE', 'JO', 'FR', 'SE',
       'AF', 'UA', 'LV', 'TR', 'CH', 'VN', 'MY', 'CN', 'IQ', 'EG', 'AD',
       'EC', 'PE', 'BD', 'FI', 'WS'], dtype=object)

In [31]:
# Creiamo un dizionario di mappatura
country_to_abbreviation = {
    'India': 'IN', 'United States': 'US', 'Japan': 'JP', 'Russia': 'RU', 'South Korea': 'KR',
    'United Kingdom': 'GB', 'Canada': 'CA', 'Brazil': 'BR', 'Argentina': 'AR',
    'Chile': 'CL', 'Cuba': 'CU', 'El Salvador': 'SV', 'Pakistan': 'PK',
    'Philippines': 'PH', 'Thailand': 'TH', 'Colombia': 'CO', 'Barbados': 'BB',
    'Mexico': 'MX', 'United Arab Emirates': 'AE', 'Spain': 'ES', 'Saudi Arabia': 'SA',
    'Indonesia': 'ID', 'Turkey': 'TR', 'Venezuela': 'VE', 'Kuwait': 'KW',
    'Jordan': 'JO', 'Netherlands': 'NL', 'Singapore': 'SG', 'Australia': 'AU',
    'Italy': 'IT', 'Germany': 'DE', 'France': 'FR', 'Sweden': 'SE',
    'Afghanistan': 'AF', 'Ukraine': 'UA', 'Latvia': 'LV', 'Switzerland': 'CH',
    'Vietnam': 'VN', 'Malaysia': 'MY', 'China': 'CN', 'Iraq': 'IQ',
    'Egypt': 'EG', 'Andorra': 'AD', 'Ecuador': 'EC', 'Morocco': 'MA',
    'Peru': 'PE', 'Bangladesh': 'BD', 'Finland': 'FI', 'Samoa': 'WS'
}

# Riempiamo i NaN nella colonna 'Abbreviation' usando come paragone la colonna 'Country'
df_null['Abbreviation'] = df_null['Abbreviation'].fillna(df_null['Country'].map(country_to_abbreviation))

In [32]:
# Contiamo il numero di NaN nella colonna 'Abbreviation' (se ci sono)
nan_count = df_null['Abbreviation'].isna().sum()
nan_count

9

In [33]:
# Ci sono ancora 9 NaN da analizzare
df_null = df_null.sort_values(by= 'Abbreviation', na_position='first')
df_null.head(9)
# Vediamo che ci sono paesi non presenti nel dizionario che abbiamo creato

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
57,58,44500000,1.070853e+10,Howto & Style,brightside,0,Cyprus,NaN,NaN,4057944.0,...,1.0,2005.0,Nov,18.0,NaN,NaN,NaN,NaN,NaN,NaN
169,170,30100000,1.624663e+10,Gaming,jacksepticeye,5114,Irland,NaN,Games,183.0,...,100000.0,2007.0,Feb,24.0,NaN,NaN,NaN,NaN,NaN,NaN
100,101,36500000,1.896124e+10,Film & Animation,PowerKids TV,5621,Irland,NaN,Film,139.0,...,600000.0,2014.0,Aug,6.0,NaN,NaN,NaN,NaN,NaN,NaN
699,700,14900000,1.591332e+10,People & Blogs,ZutiGang,1363,Israel,NaN,People,192.0,...,400000.0,2021.0,Mar,5.0,NaN,NaN,NaN,NaN,NaN,NaN
918,919,12900000,1.150409e+10,Music,Rauw Alejandro,168,Puerto Rico,NaN,Music,348.0,...,100000.0,2014.0,Dec,11.0,NaN,NaN,NaN,NaN,NaN,NaN
276,277,23600000,1.590182e+10,Music,NickyJamTV,392,Puerto Rico,NaN,Music,193.0,...,100000.0,2012.0,Jan,10.0,NaN,NaN,NaN,NaN,NaN,NaN
750,751,14500000,9.201428e+09,Music,Hear This Music,39,Puerto Rico,NaN,Music,518.0,...,100000.0,2016.0,Feb,13.0,NaN,NaN,NaN,NaN,NaN,NaN
51,52,46100000,3.068634e+10,Music,badbunny,1,Puerto Rico,NaN,Sports,4046070.0,...,NaN,2005.0,Nov,15.0,NaN,NaN,NaN,NaN,NaN,NaN
103,104,36200000,2.335580e+10,Music,Ozuna,196,Puerto Rico,NaN,Music,87.0,...,100000.0,2016.0,Mar,24.0,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# Dizionario di mappatura (updated)
country_to_abbreviation = {
    'India': 'IN', 'United States': 'US', 'Japan': 'JP', 'Russia': 'RU', 'South Korea': 'KR',
    'United Kingdom': 'GB', 'Canada': 'CA', 'Brazil': 'BR', 'Argentina': 'AR',
    'Chile': 'CL', 'Cuba': 'CU', 'El Salvador': 'SV', 'Pakistan': 'PK',
    'Philippines': 'PH', 'Thailand': 'TH', 'Colombia': 'CO', 'Barbados': 'BB',
    'Mexico': 'MX', 'United Arab Emirates': 'AE', 'Spain': 'ES', 'Saudi Arabia': 'SA',
    'Indonesia': 'ID', 'Turkey': 'TR', 'Venezuela': 'VE', 'Kuwait': 'KW',
    'Jordan': 'JO', 'Netherlands': 'NL', 'Singapore': 'SG', 'Australia': 'AU',
    'Italy': 'IT', 'Germany': 'DE', 'France': 'FR', 'Sweden': 'SE',
    'Afghanistan': 'AF', 'Ukraine': 'UA', 'Latvia': 'LV', 'Switzerland': 'CH',
    'Vietnam': 'VN', 'Malaysia': 'MY', 'China': 'CN', 'Iraq': 'IQ',
    'Egypt': 'EG', 'Andorra': 'AD', 'Ecuador': 'EC', 'Morocco': 'MA',
    'Peru': 'PE', 'Bangladesh': 'BD', 'Finland': 'FI', 'Samoa': 'WS', 'Irland': 'IR', 'Cyprus': 'CY',
    'Israel': 'IS', 'Puerto Rico': 'PR', 'Other': 'OT'
}

# Riempiamo i NaN nella colonna 'Abbreviation' usando la colonna 'Country'
df_null['Abbreviation'] = df_null['Abbreviation'].fillna(df_null['Country'].map(country_to_abbreviation))

In [35]:
#Confermiamo che category, Country e Abbreviation non hanno più NaN

df_null.isnull().sum()

rank                                         0
subscribers                                  0
video views                                  0
category                                     0
Title                                        0
uploads                                      0
Country                                      0
Abbreviation                                 0
channel_type                                25
video_views_rank                             1
country_rank                               100
channel_type_rank                           27
video_views_for_the_last_30_days            50
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               302
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    107
Population                                 107
Unemployment rate                          107
Urban_population                           107
Latitude                                   107
Longitude                                  107
dtype: int64

4) Channel type

In [36]:
# Analizziamo quali sono i campi da poter utilizzare

df['channel_type'].unique()

array(['Music', 'Games', 'Entertainment', 'Education', 'People', 'Sports',
       'Film', 'News', nan, 'Comedy', 'Howto', 'Nonprofit', 'Autos',
       'Tech', 'Animals'], dtype=object)

In [37]:
# Sappiamo che ci sono 25 NaN per 'channel_type' - ordiniamo il df

df_null = df_null.sort_values(by= 'channel_type', na_position='first')
df_null.head(25)

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
57,58,44500000,1.070853e+10,Howto & Style,brightside,0,Cyprus,CY,NaN,4057944.0,...,1.0,2005.0,Nov,18.0,NaN,NaN,NaN,NaN,NaN,NaN
508,509,17600000,3.752347e+09,Gaming,TheGameTheorists,0,Australia,AU,NaN,3612215.0,...,NaN,NaN,NaN,NaN,113.1,2.576660e+07,5.27,21844756.0,-25.274398,133.775136
440,441,18900000,8.301731e+09,Shows,Masha e o Urso,0,Brazil,BR,NaN,4057944.0,...,2.0,2014.0,Feb,20.0,NaN,NaN,NaN,NaN,NaN,NaN
340,341,21400000,1.573059e+09,Comedy,YOLO,0,Germany,DE,NaN,4057944.0,...,5.0,2013.0,Jun,11.0,70.2,8.313280e+07,3.04,64324835.0,51.165691,10.451526
544,545,16800000,6.518419e+09,Entertainment,Doggy Doggy Cartoons,0,Spain,ES,NaN,4057944.0,...,NaN,2018.0,Nov,11.0,NaN,NaN,NaN,NaN,NaN,NaN
555,556,16600000,3.696973e+09,Howto & Style,Ideas En 5 Minutos,216,Spain,ES,NaN,3108857.0,...,NaN,2017.0,Apr,2.0,88.9,4.707678e+07,13.96,37927409.0,40.463667,-3.749220
166,167,30100000,7.277494e+09,Gaming,frostdiamond,0,Indonesia,ID,NaN,4057944.0,...,6.0,2006.0,Aug,10.0,NaN,NaN,NaN,NaN,NaN,NaN
853,854,13400000,2.650061e+09,Entertainment,Blockbuster Movies,0,India,IN,NaN,4057944.0,...,NaN,2017.0,Jul,4.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
904,905,13000000,5.057163e+09,Entertainment,SRK Edie soon,8,India,IN,NaN,3686280.0,...,NaN,2021.0,Mar,18.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
445,446,18800000,7.762077e+09,News & Politics,TG MAYANK YT,2,India,IN,NaN,4057882.0,...,NaN,2021.0,Dec,21.0,NaN,NaN,NaN,NaN,NaN,NaN
178,179,29000000,1.946624e+10,Comedy,shorts break,42,India,IN,NaN,3997024.0,...,151.0,2021.0,Jan,28.0,NaN,NaN,NaN,NaN,NaN,NaN
476,477,18100000,1.224983e+10,Entertainment,Ajay Sharma,0,India,IN,NaN,4057944.0,...,1.0,2009.0,Oct,24.0,NaN,NaN,NaN,NaN,NaN,NaN
183,184,28300000,1.357714e+10,Film & Animation,Masha y El oso,6,Mexico,MX,NaN,4057907.0,...,NaN,2019.0,Jul,21.0,NaN,NaN,NaN,NaN,NaN,NaN
226,227,25600000,7.962726e+09,Howto & Style,Fede Vigevani,0,Mexico,MX,NaN,4057944.0,...,2.0,2019.0,Aug,1.0,NaN,NaN,NaN,NaN,NaN,NaN
951,952,12500000,1.302818e+09,People & Blogs,jamill,0,Philippines,PH,NaN,4048879.0,...,NaN,2006.0,Feb,22.0,NaN,NaN,NaN,NaN,NaN,NaN
969,970,12500000,4.340213e+09,Science & Technology,Mr_Mughall Gaming,223,Pakistan,PK,NaN,3956586.0,...,32.0,2022.0,Apr,23.0,9.0,2.165653e+08,4.45,79927762.0,30.375321,69.345116
548,549,16700000,1.039304e+10,Entertainment,salman Noman,3,Pakistan,PK,NaN,4057674.0,...,10.0,2022.0,May,14.0,NaN,NaN,NaN,NaN,NaN,NaN
190,191,27800000,2.303069e+09,People & Blogs,Sandeepmaheshwari,0,Singapore,SG,NaN,4057944.0,...,1.0,2008.0,Jan,2.0,84.8,5.703569e+06,4.11,5703569.0,1.352083,103.819836
444,445,18800000,7.634430e+09,People & Blogs,Cardi B,9,United States,US,NaN,4054469.0,...,NaN,2017.0,Aug,15.0,NaN,NaN,NaN,NaN,NaN,NaN
463,464,18400000,1.128073e+10,People & Blogs,Alejandro Basalo,0,United States,US,NaN,4057944.0,...,2.0,2007.0,Apr,25.0,NaN,NaN,NaN,NaN,NaN,NaN
710,711,14800000,9.383431e+09,Music,MajorLazerOfficial,0,United States,US,NaN,4057944.0,...,NaN,2013.0,Jun,14.0,NaN,NaN,NaN,NaN,NaN,NaN
236,237,25200000,1.552057e+10,Music,ChrisBrown,0,United States,US,NaN,3612215.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,469,18300000,8.798045e+09,Entertainment,Goodmythicalmorning,0,United States,US,NaN,3612215.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,150,31400000,1.517676e+10,Entertainment,luisfonsi,0,United States,US,NaN,4057944.0,...,NaN,2006.0,Mar,31.0,NaN,NaN,NaN,NaN,NaN,NaN
629,630,15500000,5.070971e+09,Entertainment,Super Senya,0,United States,US,NaN,4057944.0,...,NaN,2017.0,Jul,27.0,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Assegnamo la giusta appartenenza

df_null.loc[[508, 166], 'channel_type'] = 'Games'
df_null.loc[[440, 904, 853, 476, 548, 544, 468, 149, 629], 'channel_type'] = 'Entertainment'
df_null.loc[[340, 178], 'channel_type'] = 'Comedy'
df_null.loc[[445], 'channel_type'] = 'News'
df_null.loc[[57, 226, 555], 'channel_type'] = 'Howto'
df_null.loc[183, 'channel_type'] = 'Film'
df_null.loc[969, 'channel_type'] = 'Education'
df_null.loc[[951, 190, 463], 'channel_type'] = 'People'
df_null.loc[[710, 236, 444], 'channel_type'] = 'Music'

In [39]:
# Confermiamo che category, Country, Abbreviation e channel_type non hanno più NaN

df_null.isnull().sum()

rank                                         0
subscribers                                  0
video views                                  0
category                                     0
Title                                        0
uploads                                      0
Country                                      0
Abbreviation                                 0
channel_type                                 0
video_views_rank                             1
country_rank                               100
channel_type_rank                           27
video_views_for_the_last_30_days            50
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               302
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    107
Population                                 107
Unemployment rate                          107
Urban_population                           107
Latitude                                   107
Longitude                                  107
dtype: int64

5) video_views_rank

In [40]:
# Analizziamo il NaN di video_views_rank

df_null = df_null.sort_values(by= 'video_views_rank', na_position='first')
df_null.head()

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
735,736,14500000,2.440718e+09,Music,LegendaFUNK,0,Brazil,BR,Music,NaN,...,NaN,NaN,NaN,NaN,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
0,1,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
3,4,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
15,16,83000000,1.010000e+11,Shows,Sony SAB,71270,India,IN,Entertainment,4.0,...,1100000.0,2007.0,Aug,4.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [41]:
# Calcoliamo il rank in base alla colonna 'video views', ordinando in ordine decrescente
df_null['video_views_rank'] = df_null['video views'].rank(ascending=False, method='min')

# Ordiniamo il DataFrame in ordine crescente di rank
df_null = df_null.sort_values(by='video_views_rank')

# Mostriamo il DataFrame con il rank ordinato
print(df_null[['video views', 'video_views_rank']])

      video views  video_views_rank
0    2.280000e+11               1.0
3    1.640000e+11               2.0
4    1.480000e+11               3.0
15   1.010000e+11               4.0
6    9.324704e+10               5.0
8    9.047906e+10               6.0
11   7.742847e+10               7.0
9    7.718017e+10               8.0
21   7.313905e+10               9.0
26   6.151091e+10              10.0
29   5.931647e+10              11.0
10   5.785629e+10              12.0
31   5.727163e+10              13.0
111  5.529984e+10              14.0
60   5.029254e+10              15.0
75   4.700505e+10              16.0
24   4.575785e+10              17.0
80   4.490090e+10              18.0
56   4.113905e+10              19.0
32   4.060202e+10              20.0
72   3.945082e+10              21.0
22   3.884323e+10              22.0
65   3.793978e+10              23.0
23   3.677559e+10              24.0
64   3.645873e+10              25.0
82   3.613123e+10              26.0
37   3.530224e+10              27.0
231  3.430048e+10              28.0
30   3.343180e+10              29.0
13   3.214460e+10              30.0
214  3.197746e+10              31.0
294  3.149451e+10              32.0
46   3.078868e+10              33.0
51   3.068634e+10              34.0
19   3.060812e+10              35.0
40   3.051617e+10              36.0
39   3.036768e+10              37.0
41   2.988466e+10              38.0
125  2.961191e+10              39.0
27   2.953323e+10              40.0
378  2.940621e+10              41.0
7    2.905804e+10              42.0
34   2.883714e+10              43.0
25   2.864802e+10              44.0
20   2.863457e+10              45.0
89   2.851934e+10              46.0
133  2.851625e+10              47.0
2    2.836884e+10              48.0
63   2.756876e+10              49.0
140  2.733024e+10              50.0
49   2.728606e+10              51.0
120  2.727455e+10              52.0
93   2.726246e+10              53.0
310  2.708485e+10              54.0
35   2.707387e+10              55.0
211  2.700653e+10              56.0
66   2.682090e+10              57.0
139  2.680067e+10              58.0
148  2.658387e+10              59.0
130  2.635509e+10              60.0
16   2.623679e+10              61.0
180  2.585799e+10              62.0
227  2.559238e+10              63.0
290  2.557983e+10              64.0
58   2.545895e+10              65.0
464  2.536713e+10              66.0
33   2.530775e+10              67.0
83   2.515423e+10              68.0
67   2.451902e+10              69.0
96   2.418886e+10              70.0
14   2.411823e+10              71.0
316  2.405934e+10              72.0
42   2.400484e+10              73.0
185  2.384494e+10              74.0
248  2.375579e+10              75.0
121  2.349268e+10              76.0
134  2.337997e+10              77.0
103  2.335580e+10              78.0
391  2.335312e+10              79.0
422  2.303801e+10              80.0
116  2.300531e+10              81.0
50   2.293663e+10              82.0
150  2.291927e+10              83.0
88   2.275658e+10              84.0
90   2.273142e+10              85.0
108  2.263778e+10              86.0
168  2.259319e+10              87.0
98   2.255392e+10              88.0
47   2.251971e+10              89.0
69   2.247775e+10              90.0
285  2.247136e+10              91.0
198  2.244061e+10              92.0
77   2.230255e+10              93.0
338  2.206558e+10              94.0
85   2.152812e+10              95.0
53   2.138873e+10              96.0
113  2.130632e+10              97.0
174  2.122695e+10              98.0
191  2.103785e+10              99.0
388  2.091940e+10             100.0
305  2.084704e+10             101.0
17   2.082699e+10             102.0
882  2.074359e+10             103.0
324  2.065757e+10             104.0
246  2.053170e+10             105.0
587  2.052234e+10             106.0
209  2.035812e+10             107.0
110  2.029793e+10             108.0
275  2.028969e+10             109.0
128  2.026986e+10             110.0
453  2.019670e+10             111.0
497  2.011554e+10             112.0
748  2.004257e+10             113.0
195  1.988315e+10             114.0
389  1.969427e+10             115.0
167  1.960701e+10             116.0
68   1.954770e+10             117.0
178  1.946624e+10             118.0
238  1.945881e+10             119.0
141  1.942831e+10             120.0
197  1.941789e+10             121.0
48   1.939805e+10             122.0
97   1.937816e+10             123.0
329  1.932935e+10             124.0
495  1.920670e+10             125.0
789  1.901394e+10             126.0
100  1.896124e+10             127.0
798  1.891769e+10             128.0
136  1.869915e+10             129.0
767  1.851559e+10             130.0
92   1.820820e+10             131.0
161  1.799996e+10             132.0
302  1.798835e+10             133.0
364  1.796320e+10             134.0
179  1.793057e+10             135.0
481  1.792112e+10             136.0
399  1.791324e+10             137.0
131  1.785380e+10             138.0
223  1.779381e+10             139.0
515  1.776359e+10             140.0
271  1.768877e+10             141.0
70   1.760893e+10             142.0
308  1.750706e+10             143.0
242  1.738758e+10             144.0
232  1.733166e+10             145.0
361  1.732498e+10             146.0
201  1.731845e+10             147.0
504  1.724758e+10             148.0
212  1.721160e+10             149.0
172  1.720803e+10             150.0
152  1.711173e+10             151.0
154  1.679307e+10             152.0
86   1.671819e+10             153.0
157  1.670986e+10             154.0
965  1.669079e+10             155.0
135  1.661344e+10             156.0
54   1.660220e+10             157.0
518  1.656056e+10             158.0
650  1.654597e+10             159.0
144  1.647698e+10             160.0
94   1.640207e+10             161.0
239  1.635706e+10             162.0
300  1.629834e+10             163.0
169  1.624663e+10             164.0
28   1.624155e+10             165.0
491  1.617453e+10             166.0
81   1.611818e+10             167.0
514  1.610712e+10             168.0
107  1.610502e+10             169.0
983  1.608681e+10             170.0
437  1.601404e+10             171.0
699  1.591332e+10             172.0
276  1.590182e+10             173.0
599  1.581201e+10             174.0
712  1.578821e+10             175.0
192  1.577768e+10             176.0
287  1.575166e+10             177.0
255  1.572416e+10             178.0
106  1.565767e+10             179.0
99   1.565379e+10             180.0
323  1.555207e+10             181.0
222  1.554142e+10             182.0
236  1.552057e+10             183.0
274  1.551015e+10             184.0
919  1.544671e+10             185.0
119  1.543293e+10             186.0
479  1.541233e+10             187.0
188  1.531890e+10             188.0
559  1.527867e+10             189.0
164  1.519933e+10             190.0
149  1.517676e+10             191.0
438  1.512609e+10             192.0
208  1.506575e+10             193.0
372  1.503859e+10             194.0
337  1.501310e+10             195.0
124  1.486429e+10             196.0
474  1.485729e+10             197.0
241  1.482709e+10             198.0
396  1.481608e+10             199.0
184  1.481419e+10             200.0
588  1.478478e+10             201.0
281  1.477703e+10             202.0
175  1.472724e+10             203.0
837  1.471728e+10             204.0
282  1.469699e+10             205.0
36   1.469600e+10             206.0
245  1.465553e+10             207.0
44   1.463171e+10             208.0
633  1.461952e+10             209.0
523  1.457316e+10             210.0
643  1.456417e+10             211.0
586  1.456384e+10             212.0
535  1.454359e+10             213.0
570  1.443183e+10             214.0
187  1.441247e+10             215.0
229  1.440122e+10             216.0
307  1.423194e+10             217.0
163  1.419911e+10             218.0
658  1.419815e+10             219.0
240  1.416952e+10             220.0
218  1.410101e+10             221.0
160  1.403743e+10             222.0
986  1.395959e+10             223.0
263  1.394303e+10             224.0
415  1.393002e+10             225.0
405  1.391742e+10             226.0
674  1.389793e+10             227.0
313  1.383517e+10             228.0
45   1.362633e+10             229.0
87   1.359890e+10             230.0
183  1.357714e+10             231.0
799  1.354294e+10             232.0
569  1.347839e+10             233.0
309  1.340585e+10             234.0
377  1.339700e+10             235.0
194  1.337940e+10             236.0
471  1.337836e+10             237.0
703  1.335652e+10             238.0
937  1.317439e+10             239.0
400  1.315431e+10             240.0
293  1.315187e+10             241.0
429  1.312465e+10             242.0
616  1.311631e+10             243.0
95   1.310261e+10             244.0
138  1.306174e+10             245.0
123  1.301357e+10             246.0
723  1.296167e+10             247.0
258  1.291616e+10             248.0
347  1.289543e+10             249.0
289  1.288924e+10             250.0
61   1.288426e+10             251.0
634  1.288039e+10             252.0
170  1.283120e+10             253.0
344  1.276125e+10             254.0
115  1.274654e+10             255.0
202  1.273244e+10             256.0
635  1.271414e+10             257.0
368  1.262488e+10             258.0
982  1.260749e+10             259.0
800  1.259707e+10             260.0
809  1.251384e+10             261.0
577  1.247571e+10             262.0
675  1.241387e+10             263.0
251  1.238592e+10             264.0
722  1.236233e+10             265.0
155  1.235599e+10             266.0
449  1.229564e+10             267.0
408  1.229348e+10             268.0
476  1.224983e+10             269.0
328  1.214023e+10             270.0
808  1.212958e+10             271.0
558  1.194622e+10             272.0
689  1.182731e+10             273.0
383  1.181905e+10             274.0
850  1.178968e+10             275.0
845  1.171722e+10             276.0
964  1.169108e+10             277.0
176  1.162744e+10             278.0
147  1.161585e+10             279.0
304  1.156812e+10             280.0
963  1.155219e+10             281.0
639  1.151374e+10             282.0
918  1.150409e+10             283.0
527  1.144549e+10             284.0
780  1.142879e+10             285.0
766  1.142379e+10             286.0
126  1.140581e+10             287.0
221  1.137207e+10             288.0
521  1.137174e+10             289.0
349  1.136491e+10             290.0
118  1.135102e+10             291.0
412  1.132362e+10             292.0
395  1.131731e+10             293.0
327  1.128836e+10             294.0
463  1.128073e+10             295.0
731  1.118230e+10             296.0
517  1.114420e+10             297.0
317  1.113627e+10             298.0
234  1.108160e+10             299.0
359  1.105805e+10             300.0
493  1.105795e+10             301.0
261  1.104126e+10             302.0
820  1.103934e+10             303.0
382  1.102239e+10             304.0
374  1.100915e+10             305.0
257  1.099900e+10             306.0
411  1.095562e+10             307.0
297  1.093997e+10             308.0
532  1.084795e+10             309.0
647  1.071415e+10             310.0
57   1.070853e+10             311.0
475  1.070383e+10             312.0
343  1.064486e+10             313.0
354  1.063164e+10             314.0
312  1.061370e+10             315.0
137  1.060224e+10             316.0
127  1.053073e+10             317.0
79   1.050747e+10             318.0
673  1.048937e+10             319.0
216  1.043547e+10             320.0
270  1.041448e+10             321.0
237  1.040935e+10             322.0
548  1.039304e+10             323.0
962  1.038485e+10             324.0
394  1.036685e+10             325.0
196  1.033642e+10             326.0
52   1.032339e+10             327.0
206  1.031731e+10             328.0
747  1.030352e+10             329.0
371  1.029287e+10             330.0
225  1.024298e+10             331.0
688  1.023984e+10             332.0
779  1.023859e+10             333.0
581  1.022724e+10             334.0
122  1.018903e+10             335.0
576  1.017026e+10             336.0
303  1.011532e+10             337.0
693  1.006900e+10             338.0
182  1.006277e+10             339.0
346  1.004774e+10             340.0
858  1.002256e+10             341.0
906  9.999238e+09             342.0
687  9.996133e+09             343.0
473  9.983065e+09             344.0
686  9.978734e+09             345.0
607  9.962188e+09             346.0
181  9.956764e+09             347.0
649  9.938811e+09             348.0
469  9.937823e+09             349.0
936  9.927699e+09             350.0
318  9.924807e+09             351.0
677  9.924103e+09             352.0
490  9.887116e+09             353.0
489  9.867516e+09             354.0
413  9.808676e+09             355.0
355  9.789122e+09             356.0
617  9.787698e+09             357.0
604  9.786595e+09             358.0
585  9.763593e+09             359.0
404  9.715292e+09             360.0
530  9.710963e+09             361.0
114  9.690500e+09             362.0
836  9.685061e+09             363.0
151  9.673649e+09             364.0
797  9.660951e+09             365.0
600  9.642146e+09             366.0
233  9.602247e+09             367.0
478  9.601137e+09             368.0
333  9.597895e+09             369.0
824  9.596430e+09             370.0
447  9.594189e+09             371.0
446  9.573641e+09             372.0
857  9.569815e+09             373.0
541  9.544278e+09             374.0
927  9.502984e+09             375.0
283  9.465864e+09             376.0
568  9.463244e+09             377.0
557  9.439857e+09             378.0
331  9.392093e+09             379.0
746  9.383692e+09             380.0
710  9.383431e+09             381.0
883  9.378176e+09             382.0
335  9.346384e+09             383.0
292  9.299371e+09             384.0
540  9.270332e+09             385.0
505  9.269174e+09             386.0
306  9.223535e+09             387.0
750  9.201428e+09             388.0
610  9.198987e+09             389.0
537  9.111000e+09             390.0
889  9.110348e+09             391.0
803  9.106782e+09             392.0
709  9.076643e+09             393.0
503  9.059696e+09             394.0
611  9.052368e+09             395.0
765  9.023953e+09             396.0
692  8.932038e+09             397.0
393  8.920141e+09             398.0
526  8.903647e+09             399.0
721  8.882320e+09             400.0
713  8.866013e+09             401.0
946  8.831180e+09             402.0
468  8.798045e+09             403.0
416  8.779730e+09             404.0
373  8.768697e+09             405.0
905  8.739175e+09             406.0
483  8.716982e+09             407.0
622  8.696632e+09             408.0
536  8.684010e+09             409.0
73   8.670474e+09             410.0
315  8.663830e+09             411.0
367  8.658942e+09             412.0
685  8.658553e+09             413.0
708  8.649304e+09             414.0
702  8.615619e+09             415.0
189  8.603468e+09             416.0
210  8.595761e+09             417.0
319  8.594441e+09             418.0
494  8.588705e+09             419.0
745  8.582696e+09             420.0
332  8.507819e+09             421.0
810  8.451755e+09             422.0
260  8.425506e+09             423.0
339  8.409642e+09             424.0
440  8.301731e+09             425.0
435  8.281724e+09             426.0
265  8.279004e+09             427.0
843  8.265921e+09             428.0
632  8.265130e+09             429.0
534  8.229883e+09             430.0
458  8.147576e+09             431.0
582  8.091706e+09             432.0
694  8.074261e+09             433.0
314  8.040036e+09             434.0
764  8.011977e+09             435.0
551  7.979737e+09             436.0
235  7.968363e+09             437.0
288  7.966720e+09             438.0
226  7.962726e+09             439.0
846  7.958772e+09             440.0
732  7.952269e+09             441.0
777  7.946322e+09             442.0
204  7.938617e+09             443.0
284  7.926899e+09             444.0
868  7.923901e+09             445.0
498  7.912733e+09             446.0
417  7.906182e+09             447.0
217  7.886440e+09             448.0
928  7.876741e+09             449.0
671  7.857372e+09             450.0
330  7.780934e+09             451.0
631  7.776706e+09             452.0
869  7.773544e+09             453.0
353  7.762906e+09             454.0
445  7.762077e+09             455.0
466  7.760820e+09             456.0
981  7.741765e+09             457.0
501  7.739048e+09             458.0
795  7.719743e+09             459.0
199  7.705492e+09             460.0
980  7.683670e+09             461.0
370  7.657172e+09             462.0
444  7.634430e+09             463.0
513  7.612386e+09             464.0
186  7.600741e+09             465.0
970  7.597013e+09             466.0
428  7.590582e+09             467.0
656  7.564653e+09             468.0
684  7.536093e+09             469.0
575  7.520243e+09             470.0
961  7.489455e+09             471.0
224  7.466926e+09             472.0
410  7.452668e+09             473.0
273  7.451792e+09             474.0
805  7.450346e+09             475.0
556  7.435181e+09             476.0
74   7.410537e+09             477.0
870  7.406629e+09             478.0
564  7.406208e+09             479.0
593  7.399296e+09             480.0
84   7.339333e+09             481.0
525  7.337213e+09             482.0
376  7.311322e+09             483.0
166  7.277494e+09             484.0
387  7.274150e+09             485.0
512  7.263620e+09             486.0
720  7.255848e+09             487.0
434  7.229175e+09             488.0
268  7.213499e+09             489.0
545  7.206463e+09             490.0
546  7.195315e+09             491.0
484  7.176572e+09             492.0
207  7.173669e+09             493.0
625  7.172387e+09             494.0
679  7.159751e+09             495.0
598  7.155736e+09             496.0
655  7.151683e+09             497.0
578  7.141825e+09             498.0
567  7.135821e+09             499.0
597  7.126211e+09             500.0
549  7.102966e+09             501.0
386  7.066711e+09             502.0
563  7.043235e+09             503.0
461  7.038828e+09             504.0
707  7.018015e+09             505.0
452  7.008250e+09             506.0
989  6.993406e+09             507.0
772  6.973933e+09             508.0
926  6.970900e+09             509.0
947  6.969178e+09             510.0
736  6.944968e+09             511.0
683  6.889304e+09             512.0
488  6.888075e+09             513.0
788  6.884215e+09             514.0
596  6.872703e+09             515.0
925  6.804073e+09             516.0
612  6.802382e+09             517.0
279  6.766461e+09             518.0
142  6.762425e+09             519.0
719  6.751986e+09             520.0
492  6.746269e+09             521.0
670  6.668508e+09             522.0
924  6.662288e+09             523.0
819  6.646953e+09             524.0
899  6.637821e+09             525.0
620  6.626564e+09             526.0
659  6.624168e+09             527.0
392  6.618524e+09             528.0
574  6.613423e+09             529.0
253  6.608773e+09             530.0
267  6.582933e+09             531.0
573  6.578828e+09             532.0
203  6.570936e+09             533.0
776  6.554000e+09             534.0
601  6.543630e+09             535.0
763  6.543282e+09             536.0
609  6.534326e+09             537.0
544  6.518419e+09             538.0
866  6.482687e+09             539.0
230  6.430853e+09             540.0
873  6.412314e+09             541.0
482  6.404852e+09             542.0
636  6.396050e+09             543.0
654  6.391680e+09             544.0
769  6.388439e+09             545.0
630  6.386272e+09             546.0
432  6.339585e+09             547.0
104  6.331333e+09             548.0
509  6.306205e+09             549.0
916  6.300933e+09             550.0
744  6.290722e+09             551.0
908  6.270909e+09             552.0
342  6.269945e+09             553.0
341  6.264262e+09             554.0

In [42]:
# Confermiamo che category, Country, Abbreviation, channel_type e video_views_rank non hanno più NaN

df_null.isnull().sum()

rank                                         0
subscribers                                  0
video views                                  0
category                                     0
Title                                        0
uploads                                      0
Country                                      0
Abbreviation                                 0
channel_type                                 0
video_views_rank                             0
country_rank                               100
channel_type_rank                           27
video_views_for_the_last_30_days            50
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               302
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    107
Population                                 107
Unemployment rate                          107
Urban_population                           107
Latitude                                   107
Longitude                                  107
dtype: int64

6) country_rank (NON CORRETTO)

In [43]:
# Analizziamo i NaN di country_rank - vediamo i primi 20

#df_null = df_null.sort_values(by= 'country_rank', na_position='first')

# Modifichiamo il numero massimo di righe da visualizzare
#pd.set_option('display.max_columns', None)

#df_null.head(20)

In [44]:
# Calcoliamo il country_rank in base alla colonna 'Population', ordinando in ordine decrescente
#df_null['country_rank'] = df_null['Population'].rank(ascending=False, method='min')

# Ordiniamo il DataFrame in ordine crescente di rank
#df_null = df_null.sort_values(by='country_rank')

# Mostriamo il DataFrame con il rank ordinato
#print(df_null[['Population', 'country_rank']])

7) channel_type_rank

In [45]:
# Calcoliamo il rank di ogni 'channel_type' in base al totale delle 'videoviews'
channel_type_rank = df_null.groupby('channel_type')['video views'].sum().rank(ascending=False, method='min')

# Creiamo una nuova colonna 'channel_type_rank' per assegnare il rank a ciascun video in base al 'channel_type'
df_null['channel_type_rank'] = df_null['channel_type'].map(channel_type_rank)

# Mostriamo il DataFrame con 'channel_type', 'videoviews' e 'channel_type_rank'
df_null[['channel_type', 'video views', 'channel_type_rank']].head()

     channel_type   video views  channel_type_rank
0           Music  2.280000e+11                2.0
3       Education  1.640000e+11                4.0
4   Entertainment  1.480000e+11                1.0
15  Entertainment  1.010000e+11                1.0
6   Entertainment  9.324704e+10                1.0

In [46]:
# Confermiamo che non ci siano più NaN

df_null.isnull().sum()

rank                                         0
subscribers                                  0
video views                                  0
category                                     0
Title                                        0
uploads                                      0
Country                                      0
Abbreviation                                 0
channel_type                                 0
video_views_rank                             0
country_rank                               100
channel_type_rank                            0
video_views_for_the_last_30_days            50
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               302
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    107
Population                                 107
Unemployment rate                          107
Urban_population                           107
Latitude                                   107
Longitude                                  107
dtype: int64

8) Created_year/created_month/created_date - Crazione Campo date of creation

In [47]:
#vediamo il campo date in quanto il codice precedente risulta dare un output errato

df_null[['created_year', 'created_month', 'created_date']].head()

    created_year created_month  created_date
0         2006.0           Mar          13.0
3         2006.0           Sep           1.0
4         2006.0           Sep          20.0
15        2007.0           Aug           4.0
6         2015.0           May          12.0

In [48]:
# Creiamo dizionario per la conversione dei mesi testuali
month_map = {
    'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
    'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
}

# Riempiamo i NaN con 0 e gestiamo i mesi testuali
df_null['created_year'] = df_null['created_year'].fillna(0).astype(int)
df_null['created_month'] = df_null['created_month'].fillna('0').replace(month_map).astype(str).str.zfill(2)
df_null['created_date'] = df_null['created_date'].fillna(0).astype(int)

# Creiamo la colonna datetime
df_null['date of creation'] = pd.to_datetime(
    df_null['created_year'].astype(str) + '-' +
    df_null['created_month'] + '-' +
    df_null['created_date'].astype(str),
    errors='coerce'  # Converte in NaT se la data non è valida
)

# Correggiamo le date fuori dal range (2005 in poi)
df_null.loc[df_null['date of creation'].dt.year < 2005, 'date of creation'] = pd.NaT

In [49]:
#Verifica campo date of creation
print(df_null[['created_year', 'created_month', 'created_date', 'date of creation']].head())
print("Valori NaT:", df_null['date of creation'].isna().sum())

    created_year created_month  created_date date of creation
0           2006            03            13       2006-03-13
3           2006            09             1       2006-09-01
4           2006            09            20       2006-09-20
15          2007            08             4       2007-08-04
6           2015            05            12       2015-05-12
Valori NaT: 6

In [50]:
# Eliminiamo i campi di data che ora non ci servono più
df_null.drop(['created_year', 'created_month', 'created_date'], axis=1, inplace=True)

9) Population

In [51]:
# apertura Mattia in locale
df_country = pd.read_csv('/Users/mattiacaio/Documents/Boolean/Final Project/Wikipedia Global Statistic/Country_data.csv', encoding='latin1')

# Reset delle condizioni precedenti
pd.reset_option('display.max_rows')
df_country

,Country,Total in km2,Land in km2,Water in km2,Water %,HDI,%HDI Growth,IMF Forecast GDP(Nominal),World Bank Forecast GDP(Nominal),UN Forecast GDP(Nominal),IMF Forecast GDP(PPP),World Bank Forecast GDP(PPP),CIA Forecast GDP(PPP),Internet Users,UN Continental Region,UN Statistical Subregion,Population 2022,Population 2023,Population %Change
0,Russia,17098246.0,16378410.0,16378410.0,4.2,0.822,0.29,1862470.0,2240422.0,1778782.0,5056479.0,5326855.0,3875690.0,129800000.0,Europe,Eastern Europe,1.447133e+08,1.444444e+08,-0.19
1,Canada,9984670.0,9093507.0,9093507.0,8.9,0.936,0.25,2117805.0,2139840.0,1988336.0,2378973.0,2273489.0,1742790.0,33950632.0,Americas,Northern America,3.845433e+07,3.878129e+07,0.85
2,Brazil,8510346.0,8460415.0,8460415.0,0.6,0.754,0.38,2126809.0,1920096.0,1608981.0,4101022.0,3837261.0,2989430.0,165300000.0,Americas,South America,2.153135e+08,2.164224e+08,0.52
3,India,3287263.0,2973190.0,2973190.0,9.6,0.633,0.88,3732224.0,3385090.0,3201471.0,13119622.0,11874583.0,8443360.0,881250000.0,Asia,Southern Asia,1.417173e+09,1.428628e+09,0.81
4,Argentina,2796427.0,2736690.0,2736690.0,1.6,0.842,0.09,621833.0,632770.0,487227.0,1239515.0,1225435.0,893310.0,40024673.0,Americas,South America,4.551032e+07,4.577388e+07,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Saint Kitts and Nevis,261.0,261.0,261.0,0.0,0.777,0.21,1069.0,962.0,861.0,1760.0,1406.0,1240.0,44669.0,Americas,Caribbean,4.765800e+04,4.775500e+04,0.20
138,Marshall Islands,181.0,181.0,181.0,0.0,0.639,NaN,277.0,280.0,257.0,263.0,249.0,240.0,20560.0,Oceania,Micronesia,4.156900e+04,4.199600e+04,1.03
139,Liechtenstein,160.0,160.0,160.0,0.0,0.935,0.22,NaN,6608.0,NaN,NaN,4978.0,NaN,37201.0,Europe,Western Europe,3.932700e+04,3.958500e+04,0.66
140,San Marino,61.0,61.0,61.0,0.0,0.853,NaN,1998.0,NaN,2021.0,2872.0,2022.0,2060.0,20100.0,Europe,Southern Europe,3.366100e+04,3.364200e+04,-0.06
141,Tuvalu,26.0,26.0,26.0,0.0,0.641,0.36,63.0,60.0,60.0,63.0,61.0,50.0,5520.0,Oceania,Polynesia,1.131200e+04,1.139600e+04,0.74

In [52]:
#apertura dataset Country_data su Colab per Mirko
#file_path = '/content/drive/My Drive/Final Project Boolean/Country_data.csv'

#df_country = pd.read_csv(file_path, encoding='latin1')
#pd.reset_option('display.max_rows')
#df_country.head(5)

In [53]:
df_country.isnull().sum()

Country                             0
Total in km2                        0
Land in km2                         0
Water in km2                        0
Water %                             0
HDI                                 0
%HDI Growth                         2
IMF Forecast GDP(Nominal)           6
World Bank Forecast GDP(Nominal)    5
UN Forecast GDP(Nominal)            4
IMF Forecast GDP(PPP)               5
World Bank Forecast GDP(PPP)        1
CIA Forecast GDP(PPP)               3
Internet Users                      0
UN Continental Region               0
UN Statistical Subregion            0
Population 2022                     0
Population 2023                     0
Population %Change                  0
dtype: int64

In [54]:
df_country_1 = df_country[['Country', 'Population 2022', 'Population 2023', 'Internet Users']]

In [55]:
# Copiamo il df

df_null_1 = df_null
df_null_1.head(5)

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude,date of creation
0,1,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,...,6800000.0,108400000.0,2000000.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,2006-03-13
3,4,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,...,5900000.0,94800000.0,1000000.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,2006-09-01
4,5,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,...,5500000.0,87500000.0,1000000.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,2006-09-20
15,16,83000000,1.010000e+11,Shows,Sony SAB,71270,India,IN,Entertainment,4.0,...,5000000.0,79600000.0,1100000.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,2007-08-04
6,7,112000000,9.324704e+10,People & Blogs,ýýý Kids Diana Show,1111,United States,US,Entertainment,5.0,...,2200000.0,35100000.0,NaN,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,2015-05-12

JOIN

In [56]:
# Controlliamo i valori di Country in entrambi i df
set_1 = set(df_null_1['Country'])
set_2 = set(df_country_1['Country'])

print("Valori presenti solo in df_null_1:", set_1 - set_2)
print("Valori presenti solo in df_country_1:", set_2 - set_1)

Valori presenti solo in df_null_1: {'Puerto Rico', 'Australia', 'France', 'Saudi Arabia', 'Jordan', 'Irland', 'Finland', 'United States', 'South Korea', 'Cyprus', 'Netherlands', 'Ukraine', 'China', 'Spain'}
Valori presenti solo in df_country_1: {'Bahrain', 'Maldives', 'North Macedonia', 'Kazakhstan', 'Comoros', 'Gambia', 'Cameroon', 'Rwanda', 'Mali', 'Mozambique', 'Angola', 'Belgium', 'Syria', 'Dominica', 'Cambodia', 'Trinidad and Tobago', 'Paraguay', 'Ghana', 'Sierra Leone', 'Belarus', 'Nepal', 'Liechtenstein', 'Libya', 'Tuvalu', 'Kiribati', 'Saint Kitts and Nevis', 'Romania', 'Zambia', 'Kenya', 'Chad', 'Albania', 'SÃ£o TomÃ© and PrÃ\xadncipe', 'Saint Vincent and the Grenadines', 'Central African Republic', 'Haiti', 'Laos', 'Benin', 'Eritrea', 'Costa Rica', 'Madagascar', 'Sri Lanka', 'Ireland', 'Marshall Islands', 'Lesotho', 'Slovakia', 'Hungary', 'Denmark', 'Fiji', 'Ethiopia', 'Botswana', 'Tajikistan', 'Jamaica', 'Yemen', 'Seychelles', 'Namibia', 'Honduras', 'Guinea', 'Malta', 'Mongolia', 'Montenegro', 'Algeria', 'South Africa', 'Liberia', 'Guyana', 'Solomon Islands', 'Iran', 'Iceland', 'Oman', 'Mauritania', 'Sudan', 'Greece', 'Bhutan', 'Antigua and Barbuda', 'Estonia', 'Brunei', 'Luxembourg', 'San Marino', 'Bosnia and Herzegovina', 'Eswatini', 'Micronesia', 'Guatemala', 'Equatorial Guinea', 'South Sudan', 'Togo', 'Senegal', 'Niger', 'Austria', 'Burundi', 'Burkina Faso', 'Armenia', 'Bolivia', 'Poland', 'Bahamas', 'Gabon', 'Belize', 'Dominican Republic', 'Malawi', 'Djibouti', 'Uzbekistan', 'Nicaragua', 'Myanmar', 'Panama', 'Guinea-Bissau', 'Bulgaria'}

In [57]:
# Elimianmo eventuali spazi
df_null_1['Country'] = df_null_1['Country'].str.strip()
df_country_1['Country'] = df_country_1['Country'].str.strip()

/var/folders/nj/w887jt29031brpdbpzj9vkzh0000gn/T/ipykernel_10444/3506932265.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country_1['Country'] = df_country_1['Country'].str.strip()

In [58]:
# Per fare la join dobbiamo rinominare la colonna in df_country_1
df_country_1 = df_country_1.rename(columns={'Population 2023': 'Population'})

In [59]:
#LEFT JOIN
df_merged = pd.merge(df_null_1, df_country_1[['Country', 'Population']], on='Country', how='left')
df_merged

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,highest_yearly_earnings,subscribers_for_last_30_days,Gross tertiary education enrollment (%),Population_x,Unemployment rate,Urban_population,Latitude,Longitude,date of creation,Population_y
0,1,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,...,1.084000e+08,2000000.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,2006-03-13,1.428628e+09
1,4,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,...,9.480000e+07,1000000.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,2006-09-01,NaN
2,5,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,...,8.750000e+07,1000000.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,2006-09-20,1.428628e+09
3,16,83000000,1.010000e+11,Shows,Sony SAB,71270,India,IN,Entertainment,4.0,...,7.960000e+07,1100000.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,2007-08-04,1.428628e+09
4,7,112000000,9.324704e+10,People & Blogs,ýýý Kids Diana Show,1111,United States,US,Entertainment,5.0,...,3.510000e+07,NaN,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,2015-05-12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,903,13000000,1.066458e+07,Entertainment,Calon Sarjana,29,Indonesia,ID,Entertainment,908.0,...,0.000000e+00,300000.0,36.3,2.702039e+08,4.69,151509724.0,-0.789275,113.921327,2016-01-20,2.775341e+08
908,701,14900000,4.390980e+05,People & Blogs,ýýýýýý,1,Russia,RU,News,909.0,...,3.690000e+02,NaN,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756,2008-08-11,1.444444e+08
909,287,23200000,2.634000e+03,Science & Technology,Happy Lives,1,United States,US,Entertainment,910.0,...,0.000000e+00,100000.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,2016-03-15,NaN
910,2,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,911.0,...,5.800000e-01,NaN,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,2006-03-05,NaN
911,19,75000000,0.000000e+00,Entertainment,sports,3,United States,US,Entertainment,911.0,...,7.700000e-01,NaN,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,2006-01-30,NaN

In [60]:
# Assicuriamoci che i valori di Population siano sostituiti solo per i NaN presenti in df_null_1
df_merged['Population'] = df_merged['Population_x'].combine_first(df_merged['Population_y'])

In [61]:
# Eliminiamo la colonna extra
df_merged = df_merged.drop(columns=['Population_x', 'Population_y'])

In [62]:
df_merged.isnull().sum()

rank                                         0
subscribers                                  0
video views                                  0
category                                     0
Title                                        0
uploads                                      0
Country                                      0
Abbreviation                                 0
channel_type                                 0
video_views_rank                             0
country_rank                               100
channel_type_rank                            0
video_views_for_the_last_30_days            50
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               302
Gross tertiary education enrollment (%)    107
Unemployment rate                          107
Urban_population                           107
Latitude                                   107
Longitude                                  107
date of creation                             6
Population                                  47
dtype: int64

In [63]:
# Sono rimasti 47 NaN da gestire

# Andiamo a vedere i paesi unici che hanno NaN nella lista Population
df_merged[df_merged['Population'].isna()]['Country'].drop_duplicates().sort_values(ascending=False)

15     United States
679          Ukraine
366            Spain
49       South Korea
123     Saudi Arabia
33       Puerto Rico
126           Irland
310           Cyprus
Name: Country, dtype: object

In [64]:
# Creiamo una chiamata API per acquisire i dati dei paesi mancanti
import requests

def get_population_2023(country_name):
    # Codice del paese per la World Bank
    country_codes = {
        'United States': 'USA',
        'Ukraine': 'UKR',
        'Spain': 'ESP',
        'South Korea': 'KOR',
        'Saudi Arabia': 'SAU',
        'Puerto Rico': 'PRI',
        'Irland': 'IRL',
        'Cyprus': 'CYP'
    }

    # Recuperiamo il codice del paese (se esiste)
    country_code = country_codes.get(country_name)

    if not country_code:
        return None

    # URL per ottenere i dati di popolazione nel 2023
    url = f'http://api.worldbank.org/v2/country/{country_code}/indicator/SP.POP.TOTL?date=2023&format=json'

    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        if data[1]:
            return data[1][0]['value']  # Estrazione della popolazione
    return None

# Aggiugniamo la popolazione mancante per i paesi unici
for country in df_merged[df_merged['Population'].isna()]['Country'].drop_duplicates():
    population = get_population_2023(country)
    if population:
        df_merged.loc[df_merged['Country'] == country, 'Population'] = population

In [65]:
# Applichiamo il formato con separatori delle migliaia e punti al posto delle virgole per la colonna 'Population'
df_merged['Population'] = df_merged['Population'].map(lambda x: f"{x:,.0f}".replace(",", "."))

# Mostriamo la colonna 'Population' per verificarne il risultato
df_merged['Population']

0      1.366.417.754
1        334.914.895
2      1.366.417.754
3      1.366.417.754
4        334.914.895
           ...
907      270.203.917
908      144.373.535
909      334.914.895
910      334.914.895
911      334.914.895
Name: Population, Length: 912, dtype: object

In [66]:
df_merged[['Country', 'Population']].drop_duplicates()

           Country     Population
0            India  1.366.417.754
1    United States    334.914.895
5           Russia    144.373.535
12       Argentina     44.938.712
14     Philippines    108.116.615
..             ...            ...
815        Andorra         80.088
841        Finland      5.520.314
864           Peru     32.510.453
877      Argentina     45.773.884
883    Philippines    117.337.368

[68 rows x 2 columns]

In [67]:
df_merged.isnull().sum()

rank                                         0
subscribers                                  0
video views                                  0
category                                     0
Title                                        0
uploads                                      0
Country                                      0
Abbreviation                                 0
channel_type                                 0
video_views_rank                             0
country_rank                               100
channel_type_rank                            0
video_views_for_the_last_30_days            50
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               302
Gross tertiary education enrollment (%)    107
Unemployment rate                          107
Urban_population                           107
Latitude                                   107
Longitude                                  107
date of creation                             6
Population                                   0
dtype: int64

DA QUI IN GIU NON è opera mia!

In [68]:
from google.colab import files

df_merged.to_csv('df_merged.csv', index=False)
files.download('df_merged.csv')

ModuleNotFoundError: No module named 'google'

In [ ]:
from google.colab import files

# Definisci il percorso del file
file_path = '/content/drive/My Drive/Final Project Boolean/df_merged.csv'

# Salva il dataframe in un file CSV
df_merged.to_csv(file_path, index=False)

In [ ]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   rank                                 912 non-null    int64
 1   subscribers                          912 non-null    int64
 2   video views                          912 non-null    float64
 3   category                             912 non-null    object
 4   Title                                912 non-null    object
 5   uploads                              912 non-null    int64
 6   Country                              912 non-null    object
 7   Abbreviation                         912 non-null    object
 8   channel_type                         912 non-null    object
 9   video_views_rank                     912 non-null    float64
 10  country_rank                         812 non-null    float64
 11  channel_type_rank                    912 non-null    float64
 12  video_views_for_the_last_30_days     862 non-null    float64
 13  lowest_monthly_earnings              912 non-null    float64
 14  highest_monthly_earnings             912 non-null    float64
 15  lowest_yearly_earnings               912 non-null    float64
 16  highest_yearly_earnings              912 non-null    float64
 17  subscribers_for_last_30_days         610 non-null    float64
 18  created_year                         912 non-null    int64
 19  created_month                        912 non-null    object
 20  created_date                         912 non-null    int64
 21  Gross_tertiary_education_enrollment  805 non-null    float64
 22  Unemployment rate                    805 non-null    float64
 23  Urban_population                     805 non-null    float64
 24  Latitude                             805 non-null    float64
 25  Longitude                            805 non-null    float64
 26  date of creation                     907 non-null    datetime64[ns]
 27  Population                           912 non-null    object
dtypes: datetime64[ns](1), float64(15), int64(5), object(7)
memory usage: 199.6+ KB

In [ ]:
df.head(5)

,rank,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [ ]:
#apertura dataset su Colab per Mirko
file_path = '/content/drive/My Drive/Final Project Boolean/df_merged.csv'

df = pd.read_csv(file_path, encoding='latin1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   rank                                 912 non-null    int64
 1   subscribers                          912 non-null    int64
 2   video views                          912 non-null    float64
 3   category                             912 non-null    object
 4   Title                                912 non-null    object
 5   uploads                              912 non-null    int64
 6   Country                              912 non-null    object
 7   Abbreviation                         912 non-null    object
 8   channel_type                         912 non-null    object
 9   video_views_rank                     912 non-null    float64
 10  country_rank                         812 non-null    float64
 11  channel_type_rank                    912 non-null    float64
 12  video_views_for_the_last_30_days     862 non-null    float64
 13  lowest_monthly_earnings              912 non-null    float64
 14  highest_monthly_earnings             912 non-null    float64
 15  lowest_yearly_earnings               912 non-null    float64
 16  highest_yearly_earnings              912 non-null    float64
 17  subscribers_for_last_30_days         610 non-null    float64
 18  created_year                         912 non-null    int64
 19  created_month                        912 non-null    int64
 20  created_date                         912 non-null    int64
 21  Gross_tertiary_education_enrollment  805 non-null    float64
 22  Unemployment rate                    805 non-null    float64
 23  Urban_population                     805 non-null    float64
 24  Latitude                             805 non-null    float64
 25  Longitude                            805 non-null    float64
 26  date of creation                     907 non-null    object
 27  Population                           912 non-null    object
dtypes: float64(15), int64(6), object(7)
memory usage: 199.6+ KB

In [ ]:
# Escludiamo la colonna "Unemployment rate"
columns_to_convert = [col for col in df.select_dtypes(include='float64').columns if col != 'Unemployment rate']

# Trasformiamo i dati delle colonne selezionate in interi
df[columns_to_convert] = df[columns_to_convert].astype('int64')

# Verifica del risultato
df.info()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
# Escludiamo la colonna "Unemployment rate"
columns_to_convert = [col for col in df.select_dtypes(include='float64').columns if col != 'Unemployment rate']

# Convertiamo le colonne selezionate in interi, gestendo i NaN
for col in columns_to_convert:
    df[col] = df[col].apply(lambda x: int(x) if not pd.isna(x) else x)

# Verifica del risultato
df.info()

In [ ]:
# Escludiamo la colonna "Unemployment rate"
columns_to_convert = [col for col in df.select_dtypes(include='float64').columns if col != 'Unemployment rate']

# Trasformiamo i valori non nulli delle colonne selezionate in interi
for col in columns_to_convert:
    df[col] = df[col].apply(lambda x: int(x) if pd.notnull(x) else x)

# Verifica del risultato
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   rank                                 912 non-null    int64
 1   subscribers                          912 non-null    int64
 2   video views                          912 non-null    int64
 3   category                             912 non-null    object
 4   Title                                912 non-null    object
 5   uploads                              912 non-null    int64
 6   Country                              912 non-null    object
 7   Abbreviation                         912 non-null    object
 8   channel_type                         912 non-null    object
 9   video_views_rank                     912 non-null    int64
 10  country_rank                         812 non-null    float64
 11  channel_type_rank                    912 non-null    int64
 12  video_views_for_the_last_30_days     862 non-null    float64
 13  lowest_monthly_earnings              912 non-null    int64
 14  highest_monthly_earnings             912 non-null    int64
 15  lowest_yearly_earnings               912 non-null    int64
 16  highest_yearly_earnings              912 non-null    int64
 17  subscribers_for_last_30_days         610 non-null    float64
 18  created_year                         912 non-null    int64
 19  created_month                        912 non-null    int64
 20  created_date                         912 non-null    int64
 21  Gross_tertiary_education_enrollment  805 non-null    float64
 22  Unemployment rate                    805 non-null    float64
 23  Urban_population                     805 non-null    float64
 24  Latitude                             805 non-null    float64
 25  Longitude                            805 non-null    float64
 26  date of creation                     907 non-null    object
 27  Population                           912 non-null    object
dtypes: float64(8), int64(13), object(7)
memory usage: 199.6+ KB

In [ ]:
# Conversione di "date of creation" in tipo datetime
df['date of creation'] = pd.to_datetime(df['date of creation'], errors='coerce')

# Conversione di "Population" in tipo intero, gestendo eventuali NaN
df['Population'] = pd.to_numeric(df['Population'], errors='coerce').fillna(0).astype('int64')

# Verifica del risultato
print(df[['date of creation', 'Population']].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date of creation  907 non-null    datetime64[ns]
 1   Population        912 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 14.4 KB
None

In [ ]:
# Selezioniamo tutte le colonne con valori numerici interi o float
columns_to_clean = df.select_dtypes(include=['int64', 'float64']).columns

# Per ogni colonna, eliminiamo i decimali e il punto
for col in columns_to_clean:
    # Convertiamo in stringa, eliminiamo il punto e i decimali, poi riportiamo a intero
    df[col] = df[col].apply(lambda x: int(str(x).split('.')[0]) if pd.notnull(x) else x)

# Verifica del risultato
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   rank                                 912 non-null    int64
 1   subscribers                          912 non-null    int64
 2   video views                          912 non-null    int64
 3   category                             912 non-null    object
 4   Title                                912 non-null    object
 5   uploads                              912 non-null    int64
 6   Country                              912 non-null    object
 7   Abbreviation                         912 non-null    object
 8   channel_type                         912 non-null    object
 9   video_views_rank                     912 non-null    int64
 10  country_rank                         812 non-null    float64
 11  channel_type_rank                    912 non-null    int64
 12  video_views_for_the_last_30_days     862 non-null    float64
 13  lowest_monthly_earnings              912 non-null    int64
 14  highest_monthly_earnings             912 non-null    int64
 15  lowest_yearly_earnings               912 non-null    int64
 16  highest_yearly_earnings              912 non-null    int64
 17  subscribers_for_last_30_days         610 non-null    float64
 18  created_year                         912 non-null    int64
 19  created_month                        912 non-null    int64
 20  created_date                         912 non-null    int64
 21  Gross_tertiary_education_enrollment  805 non-null    float64
 22  Unemployment rate                    805 non-null    float64
 23  Urban_population                     805 non-null    float64
 24  Latitude                             805 non-null    float64
 25  Longitude                            805 non-null    float64
 26  date of creation                     907 non-null    datetime64[ns]
 27  Population                           912 non-null    int64
dtypes: datetime64[ns](1), float64(8), int64(14), object(5)
memory usage: 199.6+ KB

In [1]:
df_null['created_month'].unique()

NameError: name 'df_null' is not defined